{% includeJsResource 'analytics/js/AnalyticsDashboard.js' %}
{% includeCssResource "analytics/css/AnalyticsDashboard.css" %}

<div class="analytics-dashboard">

    <div class="analytics-sections">
        <div class="analytics-section">
            <div class="analytics-section-in">
                <div class="analytics-section-name">Real-Time</div>
                <div class="analytics-section-metric">Active visitors</div>
                <div class="analytics-section-total">26</div>
            </div>
        </div>
        <div class="analytics-section analytics-half">

            <div class="analytics-section-in">
                <div class="analytics-section-name">Audience</div>
                <div class="analytics-section-metric">Visits</div>
                <div class="analytics-section-total">1489</div>
            </div>
        </div>
        <div class="analytics-section analytics-half">

            <div class="analytics-section-in">
                <div class="analytics-section-name">Acquisition</div>
                <div class="analytics-section-metric">Visits</div>
                <div class="analytics-section-total">1489</div>
            </div>
        </div>
        <div class="analytics-section analytics-half">

            <div class="analytics-section-in">
                <div class="analytics-section-name">Behavior</div>
                <div class="analytics-section-metric">Pageviews</div>
                <div class="analytics-section-total">6732</div>
            </div>
        </div>
        <div class="analytics-section analytics-half">

            <div class="analytics-section-in">
                <div class="analytics-section-name">Conversion</div>
                <div class="analytics-section-metric">Goals completed</div>
                <div class="analytics-section-total">26</div>
            </div>
        </div>

    </div>
</div>