{% extends "analytics/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% macro configWarning(setting, file) -%}
	{{ "This is being overridden by the {setting} config setting."|t({
		setting: '<strong>'~setting~'</strong>'
	})|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{% set content %}

	{% if isOauthProviderConfigured %}

		{% if not oauthAccount %}

			<h2 class="first">{{ 'Google Analytics Account'|t }}</h2>

			{% if errors|length > 0 %}
				<ul class="error">
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>{{'You need to connect Craft to a Google account in order to get started.'|t}}</p>
			{% endif %}

			{% if token %}
				<p><a class="btn small" href="{{ actionUrl('analytics/oauth/disconnect') }}">{{'Disconnect'|t}}</a></p>
			{% else %}
				<p>{{"Getting errors trying to connect ?"|t}} <a href="{{url('oauth/providers/google')}}">{{"Check Google API key & secret in OAuth settings"|t}}</a>.</p>
				<p><a class="btn submit" href="{{ actionUrl('analytics/oauth/connect') }}">{{"Connect to Google Analytics"|t}}</a></p>
			{% endif %}

		{% else %}

			<h2 class="first">{{'Google Analytics Account'|t}}</h2>
			<p>{{'You are authenticated to Google Analytics with the following account'|t}} :</p>

			<div class="oauth-account">
				<div class="account-box">
					<div class="image">
						<img src="{{ provider.getIconUrl() }}" height="30" alt="{{ provider.name }} OAuth provider">
					</div>
					<div class="details">
						<ul>
							<li><strong>{{ 'Name'|t }} : </strong> {{ oauthAccount.name }}</li>

							{% if oauthAccount.uid is defined %}
								<li><strong>{{ 'UID'|t }} : </strong> {{ oauthAccount.uid }}</li>
							{% elseif oauthAccount.id is defined %}
								<li><strong>{{ 'UID'|t }} : </strong> {{ oauthAccount.id }}</li>
							{% endif %}
						</ul>
					</div>

					<div class="buttons">
						<a class="icon delete" href="{{ actionUrl('analytics/oauth/disconnect') }}"></a>
					</div>
				</div>
			</div>

			{% if settings.forceConnect %}
				<p><a class="btn submit" href="{{ actionUrl('analytics/oauth/connect') }}">{{"Please connect again to Google Analytics"|t}}</a></p>
			{% else %}

				<hr />

				<form method="post" accept-charset="UTF-8" data-saveshortcut>

					{{ getCsrfInput() }}

					<input type="hidden" name="action" value="analytics/settings/saveSettings">
					<input type="hidden" name="pluginClass" value="Analytics">
					<input type="hidden" name="redirect" value="analytics/settings">

					<div id="account-explorer" class="account-explorer">

						<h2 class="first">{{ "Google Analytics View (Profile)"|t }}</h2>

						{{ forms.selectField({
							label: "Account"|t,
							name: 'settings[accountId]',
							class: 'account',
							options: accountOptions,
							value: accountId,
						}) }}

						{{ forms.selectField({
							label: "Property"|t,
							name: 'settings[webPropertyId]',
							class: 'property',
							options: webPropertyOptions,
							value: webPropertyId,
						}) }}

						{{ forms.selectField({
							label: "View"|t,
							name: 'settings[profileId]',
							class: 'view',
							options: viewOptions,
							value: viewId,
						}) }}

						<div class="buttons">
							<div class="btn small refresh-views">Refresh</div> <div class="spinner hidden"></div>
						</div>
					</div>

					{% includejs %}


						{% if accountExplorerData %}
							var forceRefresh = false;
						{% else %}
							var forceRefresh = true;
						{% endif %}

						var accountExplorer = new Analytics.AccountExplorer('#account-explorer', { forceRefresh: forceRefresh, data: {{ accountExplorerData|json_encode|raw }}  });

					{% endincludejs %}

					<hr />

					<h2>{{'Realtime'|t}}</h2>

					{{ forms.checkboxField({
						label: "Enable real-time"|t,
						warning: (craft.config.get('enableRealtime', 'analytics') ? configWarning('enableRealtime')),
						name: 'settings[enableRealtime]',
						checked: (settings.enableRealtime ? settings.enableRealtime : false),
						toggle: 'enableRealtime'
					}) }}

					<div id="enableRealtime"{% if not settings.enableRealtime %} class="hidden"{% endif %}>

						{{ forms.textField({
							label: "Real-Time Refresh Interval"|t,
							warning: (craft.config.get('realtimeRefreshInterval', 'analytics') ? configWarning('realtimeRefreshInterval')),
							instructions: "Interval in seconds between requests to real-time API"|t,
							name: 'settings[realtimeRefreshInterval]',
							value: (settings.realtimeRefreshInterval ? settings.realtimeRefreshInterval : '10'),
							size: 4
						}) }}
					</div>

					<div class="buttons">
						<input type="submit" class="btn submit force" value="{{'Save'|t}}">
					</div>

				</form>

			{% endif %}
		{% endif %}

	{% else %}

		<h2 class="first">{{'Google provider not configured'|t}}</h2>
		<p>{{'Please fill API client id & secret for Analytics provider.'|t}}</p>
		<p><a class="btn" href="{{url('oauth/providers/google')}}">{{'Google OAuth settings'|t}}</a></p>

	{% endif %}

{% endset %}
