{% extends "analytics/_layouts/utils" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'metadata' %}

{% set content %}


	<h2>{{ "Status"|t }}</h2>

	{% if dimmetsFileExists %}
		<ul>
			<li>{{ "{count}  dimensions loaded."|t({ count: dimensions|length })}}</li>
			<li>{{ "{count}  metrics loaded."|t({ count: metrics|length })}}</li>
		</ul>

		<div class="buttons">
			<a href="{{ actionUrl('analytics/utils/loadMetadata') }}" class="btn">{{ "Refresh Metadata"|t }}</a>
		</div>
	{% else %}

		<p>{{ "Metadata file doesn’t exist"|t }}</p>

		<div class="buttons">
			<a href="{{ actionUrl('analytics/utils/loadMetadata') }}" class="btn">{{ "Load Metadata"|t }}</a>
		</div>
	{% endif %}

	<hr>

	<h2>{{ "Search"|t }}</h2>

	<form action="" method="post">

		{{ getCsrfInput() }}

		<input type="hidden" name="action" value="analytics/utils/searchMetadata">

		{{ forms.textField({
			first: true,
			placeholder: "Enter dimension or metric name"|t,
			name: 'q',
			value: (q is defined ? q),
		}) }}

		<input type="submit" class="btn submit" value="Search" />

	</form>

	{% if columns is defined %}


		{% for column in columns %}
			<hr>

			{% include 'analytics/_includes/column' %}
		{% endfor %}
	{% endif %}

{% endset %}