{{ craft.analytics.register('src/main.js') }}
<p class="light">{{ "No sources. {sourcesLink}."|t('analytics', { sourcesLink: '<a href="{sourcesUrl}">{sourcesLabel}</a>'|t('analytics', {sourcesLabel: 'Setup a source'|t('analytics'), sourcesUrl: url('analytics/sources'), }) })|raw }}</p>