{{ craft.analytics.register('src/main.js') }}
<p class="light">{{ "Setup a reporting view in {settingsLink}."|t('analytics', { settingsLink: '<a href="{settingsUrl}">{settingsLabel}</a>'|t('analytics', {settingsLabel: 'Analytic’s settings'|t('analytics'), settingsUrl: url('analytics/settings/views'), }) })|raw }}</p>