{{ craft.analytics.register('src/main.js') }}

<p class="light">
    {% if currentUser.can('accessPlugin-analytics') %}
        {{ "To get started, {settingsLink}."|t('analytics', { settingsLink: '<a href="{settingsUrl}">{settingsLabel}</a>'|t('analytics', {settingsLabel: 'connect to a Google Analytics account'|t('analytics'), settingsUrl: url('analytics/settings'), }) })|raw }}
    {% else %}
        {{ "Not connected to Google Analytics."|t('analytics') }}
    {% endif %}
</p>