{{ craft.analytics.script('src/main.js') }}
<p class="light">{{ "Analytics is not configured. {settingsLink}"|t('analytics', { settingsLink: '<a href="{settingsUrl}">{settingsLabel}</a>.'|t('analytics', {settingsLabel: 'Edit plugin settings'|t('analytics'), settingsUrl: url('analytics/settings'), }) })|raw }}</p>