{% if hasUrl %}
    <div id="vue-{{namespacedId}}"></div>
{% elseif isNew %}
    <div class="analytics-field analytics-error disable-icon">
        <div class="error">{{ "Report will appear when the element is saved."|t('analytics') }}</div>
    </div>
{% else %}
    <div class="analytics-field analytics-error">
        <div class="error">{{ "This element doesn't support urls."|t('analytics') }}</div>
    </div>
{% endif %}
