{
  "root": true,
  "parser": "vue-eslint-parser",
  "rules": {
    "no-undef": "off"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "vue/multi-word-component-names": "off"
      }
    }
  ]
}