{% extends "analytics/_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Analytics"|t %}
{% set selectedTab = 'search' %}

{% set content %}

    <form action="" method="post">

        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="analytics/meta/search">

        {{ forms.textField({
            first: true,
            placeholder: "Enter dimension or metric name"|t,
            name: 'q',
            value: (q is defined ? q),
        }) }}

        <input type="submit" class="btn submit" value="Search" />

    </form>

    {% if columns is defined %}


        {% for column in columns %}
            <hr>

            {% include 'analytics/meta/search/_column' %}
        {% endfor %}
    {% endif %}

{% endset %}