{% extends "analytics/settings/_layout" %}

{% import "_includes/forms" as forms %}

{% set content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut>

        {{ getCsrfInput() }}


        <input type="hidden" name="action" value="plugins/savePluginSettings">
        <input type="hidden" name="pluginClass" value="Analytics">
        <input type="hidden" name="redirect" value="analytics/settings">

        <h2 class="first">{{'Google Analytics Account'|t}}</h2>
        <p>{{'You are authenticated to Google Analytics with the following account'|t}} :</p>

        <ul>
            <li><strong>{{ 'UID'|t }} : </strong> {{ account.uid }}</li>
            <li><strong>{{ 'Name'|t }} : </strong> {{ account.name }}</li>
        </ul>

        <p><a class="btn small" href="{{ actionUrl('analytics/disconnect') }}">{{'Disconnect'|t}}</a></p>

        <hr />


        {% if propertiesError %}
            <p class="error">{{ propertiesError }}</p>
            <hr>
        {% endif %}

        <h2 class="first">{{'Plugin Settings'|t}}</h2>

        {{ forms.selectField({
            first: true,
            label: "Web Profile"|t,
            instructions: "Select an Analytics web profile to associate with your Craft website"|t,
            options: propertiesOpts,
            name: 'settings[profileId]',
            value: settings.profileId
        }) }}


        {{ forms.checkboxField({
            label: "Enable real-time"|t,
            name: 'settings[enableRealtime]',
            checked: (settings.enableRealtime ? settings.enableRealtime : false),
            toggle: 'enableRealtime'
        }) }}

        <div id="enableRealtime"{% if not settings.enableRealtime %} class="hidden"{% endif %}>

            {{ forms.textField({
                label: "Real-Time Refresh Interval"|t,
                instructions: "Interval in seconds between requests to real-time API"|t,
                name: 'settings[realtimeRefreshInterval]',
                value: (settings.realtimeRefreshInterval ? settings.realtimeRefreshInterval : '10'),
                size: 4
            }) }}
        </div>

        <p>
            <input type="submit" class="btn submit force" value="{{'Save'|t}}">
        </p>

    </form>

{% endset %}


