{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set crumbs = [
    { label: "Settings"|t, url: url('settings') },
    { label: "Plugins"|t, url: url('settings/plugins') }
] %}

{% set title = "Analytics"|t %}

{% set content %}

    {% if CraftEdition == requiredEdition %}
        {{ requiredEdition }}: Ok
    {% else %}
        {{ requiredEdition }}: Not ok
    {% endif %}

    {% if pluginDependencies|length > 0 %}

        <p>To continue, please install or update the following plugin(s):</p>

        <ul>
            {% for dependency in pluginDependencies %}
                <li>
                    {{ dependency.name }}

                    {% if dependency.plugin %}
                        <span class="light">{{ dependency.plugin.version }} → {{ dependency.version }} or above</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    {% else %}
        {% include 'analytics/settings/_plugin' %}
    {% endif %}

{#
    {% if craft.oauth is not defined %}

        {% include 'analytics/settings/_oauth' %}

    {% else %}

        {% include 'analytics/settings/_plugin' %}

    {% endif %} #}

{% endset %}
