<div class="spinner"></div>

<div class="chart"></div>

<div class="tiles">
    <div class="tile">
        <div class="label light">{{ "Total Revenue"|t('analytics') }}</div>
        <div class="value revenue">0</div>
    </div>
    <div class="tile">
        <div class="label light">{{ "Average Order"|t('analytics') }}</div>
        <div class="value revenue-per-transaction">0</div>
    </div>
    <div class="tile">
        <div class="label light">{{ "Transactions"|t('analytics') }}</div>
        <div class="value transactions">0</div>
    </div>
    <div class="tile">
        <div class="label light">{{ "Conversion Rate"|t('analytics') }}</div>
        <div class="value transactions-per-session">0</div>
    </div>
</div>
