.analytics_report
{
	z-index: 1;

	.settings.icon { position: relative; z-index: 1; }

	h2 { display: none; }

	div.title { font-weight: bold; font-size: 15px; margin-bottom: 7px; }

	.select select { width: 100%; }

	.body { min-height: 20px; }
	.body h2.title { display: block; margin: 0; margin-bottom: 7px; }
	.body .date { margin-bottom: 14px; }

	.spinner { position: absolute; top: 50%; left: 50%; margin-left: -14px; margin-top: -14px; }

	.report .chart { overflow: hidden;  }
	.report .chart.area { min-height: 150px; margin: 14px -24px -24px -24px; }
	.report .chart.pie { min-height: 260px; padding: 14px 0; }
	.report .chart.counter { padding: 12px 0; text-align: center; }
	.report .chart.counter .value { font-size: 5em; line-height: 1em; margin-bottom: 0.1em; }
	.report .chart.counter .label, .report .chart.counter .period { display: inline; font-size: 1.2em; opacity: .7; }
	.report .chart.counter .label { color: #318EC4; }
	.report .chart.counter .period { color: #666; }
	.report .chart.geo { min-height: 300px; }
	.report .chart.table {

		z-index: 1;

		margin: 0 0 20px 0; position: relative; min-height: 30px; border-top:1px dotted #e3e5e8; min-height: 60px;

		& > div { position: inherit; }

		// td { width: 100px; }

		td strong { white-space:nowrap; text-overflow: ellipsis;  overflow: hidden; width: 200px; display: block; overflow: hidden; font-weight: normal; }

		.google-visualization-table { width: 100%; border: 0; }
		.google-visualization-table-table { width: 100%; }

		thead tr { background: none; }
		thead tr .google-visualization-table-th { background: none !important; padding-left: 0; padding-right: 0; border:0; border-bottom: 1px dotted #e3e5e8; color: rgba(0, 0, 0, 0.298039); font-size: 0.8em; white-space:nowrap; }
		thead tr .google-visualization-table-th:first-child { text-align: left; }
		thead tr .google-visualization-table-th:last-child { text-align: right; }
		thead tr .google-visualization-table-th span { display: none; }

		td.google-visualization-table-td { max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: #fff; border-left: 0; border-right: 0; border-top:0; border-bottom: 1px dotted #e3e5e8; }
		td.google-visualization-table-td:hover { background: #fff; }
		td.google-visualization-table-td.google-visualization-table-td-number { text-align: right; }

		.google-visualization-table-tr-sel td,
		.google-visualization-table-tr-over td { background-color: #fff; }
		.google-visualization-table-tr-sel.google-visualization-table-tr-odd,
		.google-visualization-table-tr-over.google-visualization-table-tr-odd { background-color: #fff; }
		.google-visualization-table-div-page { margin-top: 10px; text-align: center; position: absolute; bottom: -35px; left: 0; width: 100%; }
		.google-visualization-table-div-page .charts-custom-button-inner-box { padding: 2px 10px; }
		.google-visualization-table-div-page .charts-custom-button { background: #fff; margin: 0 3px; }
		.google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box { border-color:#ccc; }
		.google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box .charts-custom-button-inner-box { border-color:#ccc; }
		.google-visualization-table-div-page .charts-custom-button:hover, .charts-custom-button-hover { background: #fff; }
		.google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
		.google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box { border-color:#bbb !important; }
		.google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
		.google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box .charts-custom-button-inner-box { border-color:#bbb !important; }
		.google-visualization-table-div-page .charts-custom-button-disabled { opacity: .1; }
		.google-visualization-table-div-page .page-number { padding: 10px; }
		.google-visualization-table-page-numbers { display: none; }
	}
}

body.rtl .widget > .front > .pane > .icon.settings { float: left; margin-left: 0; margin-right: 7px; }