{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Analytics Installation"|t %}


{% set providerClass = 'Google' %}
{% set pluginHandle = 'analytics' %}

{% includeCssResource pluginHandle~"/css/styles.css" %}
{% includeJsResource pluginHandle~"/js/scripts.js" %}


{% set content %}

    {% if craft.oauth is not defined %}
        {% include pluginHandle~'/oauth/_install' %}
    {% else %}
        {% set account = craft.oauth.getAccount('analytics.system', providerClass) %}
        {% set service = craft.oauth.getProvider(providerClass) %}

        {% if not craft.oauth.providerIsConfigured(providerClass) or craft.request.getSegment(3) == 'configure' %}
            {% include pluginHandle~'/oauth/_configure' %}
        {% else %}
            {% include pluginHandle~'/oauth/_authenticate' %}
        {% endif %}
    {% endif %}

{% endset %}