
<h3>Last 7 days</h3>

{% set response = craft.analytics.api({
    'start-date': '6daysAgo',
    'end-date': 'today',
    'metrics': 'ga:sessions',
    'dimensions': 'ga:year,ga:month,ga:day,ga:date',
    'sort': '-ga:date',
}) %}

{% if response.success %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Sessions</th>
            </tr>
        </thead>

        <tbody>
            {% for row in response.rows %}
                <tr>
                    <td>{{(row[0]~"-"~row[1]~"-"~row[2])|date('Y-m-d')}}</td>
                    <td>{{row[4]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    Error: {{ response.errorMessage }}
{% endif %}