
<h3>Last 7 days</h3>

{% set response = craft.analytics.api({
    startDate: date('-6 days')|date("Y-m-d"),
    endDate: 'today',
    metrics: 'ga:sessions',
    options:{
        'dimensions': 'ga:year,ga:month,ga:day,ga:date',
        'sort': '-ga:date',
    }
}).send() %}

{% if response.success %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Sessions</th>
            </tr>
        </thead>

        <tbody>
            {% for row in response.rows %}
                <tr>
                    <td>{{(row[0].v~"-"~row[1].v~"-"~row[2].v)|date('Y-m-d')}}</td>
                    <td>{{row[4].v}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    Error: {{ response.errorMessage }}
{% endif %}