{% if title is not defined %}
    {% set title = "Default Title" %}
{% endif %}

{% if metric is not defined %}
    {% set metric = "" %}
{% endif %}

{% if type is not defined %}
    {% set type = "column" %}
{% endif %}

{% set profile = craft.analytics.profile %}
{% set webProperty = craft.analytics.webProperty %}

{% set chartQuery = {
    param1 : 'ga:' ~ profile.id,
    param2 : now|date_modify("-1 month")|date("Y-m-d"),
    param3 : now|date("Y-m-d"),
    param4 : metric,
    param5 : {
        'dimensions' : dimensions
    }
} %}

{% set defaultChartOptions = {
    title: title,
    chartType:type,
    chartArea : {
        width:'100%',

        left:'auto',
        right:'auto',
        top:'auto',
        bottom:'auto'
    }
} %}

{% if chartOptions is not defined %}
    {% set chartOptions = defaultChartOptions %}
{% endif %}


{% set chart = {
    chart: {
        chartQuery: chartQuery,
        chartOptions: chartOptions
    }
} %}

{% include 'analytics/_chartElement' with chart %}