{% set title = "Analytics"|t %}

{% if not craft.analytics.isOk %}
    {% redirect 'analytics/settings' %}
{% else %}

    {% extends "_layouts/cp" %}
    {% import "_includes/forms" as forms %}

    {% set provider = 'Google' %}

    {% includeCssResource "analytics/css/styles.css" %}

    {%- includeJsResource 'analytics/js/jsapi.js' first %}

    {% includeJsResource 'analytics/js/dchart.js' %}
    {% includeJsResource 'analytics/js/dukt-chart.js' %}

    {% set extraPageHeaderHtml %}
      <a class="btn settings icon" href="{{ url('analytics/settings') }}" title="{{ 'Settings'|t }}"></a>
    {% endset %}

{% endif %}