{% extends "analytics/_layout" %}


{% set selectedTab = 'behavior' %}

{% set content %}



    <div class="chartBlock">
        {% include 'analytics/_chart' with {
            metric: 'ga:visits',
            dimensions:'ga:pagePath',
            title: 'Pages',
            type:'donut'
        } %}
    </div>

    <div class="clear"></div>
{% endset %}
