{% set profile = craft.analytics.profile %}
{% set webProperty = craft.analytics.webProperty %}

{# Visits #}
{#
<h2>Last week visits</h2>


{% include 'analytics/chart' with {
    type: 'AreaChart',
    query: {
        param1: 'ga:' ~ profile.id,
        param2: now|date_modify("-1 week")|date("Y-m-d"),
        param3: now|date("Y-m-d"),
        param4: 'ga:visits',
        param5: {
            'dimensions' : 'ga:date',
            'sort' : 'ga:date',
        }
    },

    columns: [
        {
            type: 'string',
            label: 'Date'
        },
        {
            type: 'number',
            label: 'Visits'
        }
    ]
} %}

<hr> #}

<h2>Language</h2>
{#
{% include 'analytics/chart' with {
    type: 'PieChart',

    query: {
        param1: 'ga:' ~ profile.id,
        param2: now|date_modify("-1 week")|date("Y-m-d"),
        param3: now|date("Y-m-d"),
        param4: 'ga:visits',
        param5: {
            'dimensions' : 'ga:language'
        }
    },

    columns: [
        {
            type: 'string',
            label: 'Language'
        },
        {
            type: 'number',
            label: 'Visits'
        }
    ]
} %}
 #}
{#
 {{ charts.table({
    query: {
        param1: 'ga:' ~ profile.id,
        param2: now|date_modify("-1 week")|date("Y-m-d"),
        param3: now|date("Y-m-d"),
        param4: 'ga:visits',
        param5: {
            'dimensions' : 'ga:language'
        }
    },
    columns: [
        {
            type: 'string',
            label: 'Language'
        },
        {
            type: 'number',
            label: 'Visits'
        }
    ]
}) }} #}

{% set data = {
    type: 'Table',
    query: {
        param1: 'ga:' ~ profile.id,
        param2: now|date_modify("-1 week")|date("Y-m-d"),
        param3: now|date("Y-m-d"),
        param4: 'ga:visits',
        param5: {
            'dimensions' : 'ga:language'
        }
    },
    columns: [
        {
            type: 'string',
            label: 'Language'
        },
        {
            type: 'number',
            label: 'Visits'
        }
    ]
} %}

{# {% include 'analytics/chart' with data %} #}

<div id="chart">
    <div class="data">
        {{data|json_encode|raw}}
    </div>

    <div class="inject"></div>
</div>

<script type="text/javascript">
    var element = $('#chart');
    var chart = new AnalyticsChart(element);
</script>