{% extends "analytics/_layout" %}

{% set selectedTab = 'pages' %}

{% set content %}

	<div class="chartBlock">
	    {% include 'analytics/_chart' with {
	        half:true,
	        metric: 'ga:visits',
	        dimensions:'ga:pagePath',
	        title: 'Page visits',
	        type:'donut'
	    } %}
    </div>

	<div class="chartBlock">
	    {% include 'analytics/_chart' with {
	        half:true,
	        metric: 'ga:visits',
	        dimensions:'ga:pagePath',
	        title: 'Page visits',
	        type:'table'
	    } %}
    </div>

{% endset %}