{% extends "analytics/_layout" %}

{% set selectedTab = 'sources' %}

{% set content %}

    <div class="chartBlock half">
        {% include 'analytics/_chart' with {
            half:true,
            metric: 'ga:visits',
            dimensions:'ga:country',
            title: 'Countries',
            type:'donut'
        } %}
    </div>

    <div class="chartBlock half">
        {% include 'analytics/_chart' with {
            half:true,
            metric: 'ga:visits',
            dimensions:'ga:isMobile',
            title: 'Is Mobile',
            type:'column'
        } %}
    </div>

    <div class="chartBlock half">
        {% include 'analytics/_chart' with {
            half:true,
            metric: 'ga:visits',
            dimensions:'ga:socialNetwork',
            title: 'Social Networks',
            type:'donut'
        } %}
    </div>

    <div class="chartBlock half">
        {% include 'analytics/_chart' with {
            half:true,
            metric: 'ga:visits',
            dimensions:'ga:source',
            title: 'Sources',
            type:'donut'
        } %}
    </div>
{% endset %}