{% extends "analytics/_layout" %}

{% set content %}

    <div class="chartBlock">
        {% include 'analytics/_chart' with {
            metric: 'ga:visits',
            dimensions:'ga:year, ga:month, ga:day',
            title: 'Visits'
        } %}
    </div>

    <div class="chartBlock">
        {% include 'analytics/_chart' with {
            metric: 'ga:visits',
            dimensions:'ga:year, ga:month, ga:day',
            title: 'Visits',
            type: 'table'
        } %}
    </div>
{% endset %}