{% extends "demos/analytics/charts/_layout" %}

{% set response = craft.analytics.request({
    startDate: date("-1 week")|date("Y-m-d"),
    endDate: 'today',
    metrics: 'ga:users',
    options:{
        dimensions: 'ga:date'
    }
}).send() %}

{% set jsonResponse = response|json_encode %}

{% block main %}

    <h1>Area Week</h1>

    <script type="text/javascript">

    google.load("visualization", "1", {packages:["corechart", "table"]});

    google.setOnLoadCallback(drawChart);

    function drawChart() {

        var response = {{ response|json_encode|raw }};
        var data = AnalyticsUtils.responseToDataTable(response);
        var options = AnalyticsChartOptions.area('week');
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
    </script>


    <div id="chart_div" style="width: 100%; height: 500px;"></div>

    <pre>{{ dump(response) }}</pre>

{% endblock main %}