<div class="more">

    <div class="center"><a class="more" href="#">{{ 'More Data'|t }}</a></div>

    <div class="more-content hidden">

        <div class="center"><a class="less" href="#">{{ 'Less'|t }}</a></div>

        {% include 'analytics/_includes/chartElement' with {
            chart: {
                cols: [
                    {
                        'label' : label,
                        'type': 'string'
                    },
                    {
                        'label' : 'Visits'|t,
                        'type': 'number'
                    }
                ],

                chartQuery: {
                    param1 : 'ga:' ~ profile.id,
                    param2 : now|date_modify("-1 month")|date("Y-m-d"),
                    param3 : now|date("Y-m-d"),
                    param4 : 'ga:visits',
                    param5 : {
                        'dimensions' : dimensions,
                        'sort' : '-ga:visits'
                    }
                },

                chartOptions: {
                    allowHtml: true,
                    chartType:'table',
                    chartArea : {
                        width:'100%',
                        height:'50%',
                        left:0,
                        right:0,
                        top:0,
                        bottom:30
                    }
                }
            }
        } %}
    </div>
</div>