{% extends "demos/analytics/_layout" %}

{% block main %}

    <div class="col-md-8 col-md-offset-2">

        <h1>Analytics Plugin Demos</h1>

        <p>Welcome ! These examples will show you how to use Analytics features on your Craft website.</p>

        <h3>Demos</h3>

        <ul>
            <li><a href="{{url('demos/analytics/front-end-stats')}}">Front-end statitistics</a></li>
            <li><a href="{{url('demos/analytics/graph')}}">Graph</a></li>
            <li><a href="{{url('demos/analytics/tracking')}}">Tracking</a></li>
        </ul>

    </div>

    <div class="col-md-8 col-md-offset-2">
        <h3>Analytics Plugin</h3>
        <ul>
            <li><a href="https://dukt.net/craft/analytics/">Analytics plugin for Craft CMS</a></li>
            <li><a href="https://dukt.net/craft/analytics/docs/">Documentation</a></li>
            <li><a href="https://dukt.net/craft/analytics/updates/">Updates</a></li>
        </ul>
    </div>
{% endblock main %}
