{% import "_includes/forms" as forms %}

{% includeCssResource "analytics/css/AnalyticsField.css" %}
{%- includeJsResource 'analytics/js/jsapi.js' first %}
{% includeJsResource 'analytics/js/AnalyticsUtils.js' %}
{% includeJsResource 'analytics/js/AnalyticsField.js' %}

{% if hasUrl %}
    <div
        data-element-id="{{element.id}}"
        class="analytics-field">

        <span class="uri light right">&nbsp; URI: /{{element.uri}}</span>

        {{ forms.select({
            class:'analytics-metric',
            value:'ga:pageviews',
            options: craft.analytics.metricOpts([
                'ga:exitRate',
                'ga:avgTimeOnPage',
                'ga:bounceRate',
                'ga:pageviews',
                'ga:uniquePageviews',
            ])
        }) }}

        <div class="spinner hidden"></div>

        <div class="chart"></div>
        <div class="error"></div>

    </div>
{% else %}
    <div
        class="analytics-field analytics-error">

        <div class="error">This element doesn't support urls.</div>

    </div>
{% endif %}