.analytics_report {
  z-index: 1; }
  .analytics_report .settings.icon {
    position: relative;
    z-index: 1; }
  .analytics_report h2 {
    display: none; }
  .analytics_report div.title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 7px; }
  .analytics_report .select select {
    width: 100%; }
  .analytics_report .body {
    min-height: 20px; }
  .analytics_report .body h2.title {
    display: block;
    margin: 0;
    margin-bottom: 7px; }
  .analytics_report .body .date {
    margin-bottom: 14px; }
  .analytics_report .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px; }
  .analytics_report .report .chart {
    overflow: hidden; }
  .analytics_report .report .chart.area {
    min-height: 150px;
    margin: 14px -24px -24px -24px; }
  .analytics_report .report .chart.pie {
    min-height: 260px;
    padding: 14px 0; }
  .analytics_report .report .chart.counter {
    padding: 12px 0;
    text-align: center; }
  .analytics_report .report .chart.counter .value {
    font-size: 5em;
    line-height: 1em;
    margin-bottom: 0.1em; }
  .analytics_report .report .chart.counter .label, .analytics_report .report .chart.counter .period {
    display: inline;
    font-size: 1.2em;
    opacity: .7; }
  .analytics_report .report .chart.counter .label {
    color: #318EC4; }
  .analytics_report .report .chart.counter .period {
    color: #666; }
  .analytics_report .report .chart.geo {
    min-height: 300px; }
  .analytics_report .report .chart.table {
    z-index: 1;
    margin: 0 0 20px 0;
    position: relative;
    min-height: 30px;
    border-top: 1px dotted #e3e5e8;
    min-height: 60px; }
    .analytics_report .report .chart.table > div {
      position: inherit; }
    .analytics_report .report .chart.table td strong {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 200px;
      display: block;
      overflow: hidden;
      font-weight: normal; }
    .analytics_report .report .chart.table .google-visualization-table {
      width: 100%;
      border: 0; }
    .analytics_report .report .chart.table .google-visualization-table-table {
      width: 100%; }
    .analytics_report .report .chart.table thead tr {
      background: none; }
    .analytics_report .report .chart.table thead tr .google-visualization-table-th {
      background: none !important;
      padding-left: 0;
      padding-right: 0;
      border: 0;
      border-bottom: 1px dotted #e3e5e8;
      color: rgba(0, 0, 0, 0.298039);
      font-size: 0.8em;
      white-space: nowrap; }
    .analytics_report .report .chart.table thead tr .google-visualization-table-th:first-child {
      text-align: left; }
    .analytics_report .report .chart.table thead tr .google-visualization-table-th:last-child {
      text-align: right; }
    .analytics_report .report .chart.table thead tr .google-visualization-table-th span {
      display: none; }
    .analytics_report .report .chart.table td.google-visualization-table-td {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background: #fff;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px dotted #e3e5e8; }
    .analytics_report .report .chart.table td.google-visualization-table-td:hover {
      background: #fff; }
    .analytics_report .report .chart.table td.google-visualization-table-td.google-visualization-table-td-number {
      text-align: right; }
    .analytics_report .report .chart.table .google-visualization-table-tr-sel td,
    .analytics_report .report .chart.table .google-visualization-table-tr-over td {
      background-color: #fff; }
    .analytics_report .report .chart.table .google-visualization-table-tr-sel.google-visualization-table-tr-odd,
    .analytics_report .report .chart.table .google-visualization-table-tr-over.google-visualization-table-tr-odd {
      background-color: #fff; }
    .analytics_report .report .chart.table .google-visualization-table-div-page {
      margin-top: 10px;
      text-align: center;
      position: absolute;
      bottom: -35px;
      left: 0;
      width: 100%; }
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button-inner-box {
      padding: 2px 10px; }
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button {
      background: #fff;
      margin: 0 3px; }
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box {
      border-color: #ccc; }
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box .charts-custom-button-inner-box {
      border-color: #ccc; }
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button:hover, .analytics_report .report .chart.table .charts-custom-button-hover {
      background: #fff; }
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box {
      border-color: #bbb !important; }
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box .charts-custom-button-inner-box {
      border-color: #bbb !important; }
    .analytics_report .report .chart.table .google-visualization-table-div-page .charts-custom-button-disabled {
      opacity: .1; }
    .analytics_report .report .chart.table .google-visualization-table-div-page .page-number {
      padding: 10px; }
    .analytics_report .report .chart.table .google-visualization-table-page-numbers {
      display: none; }

body.rtl .widget > .front > .pane > .icon.settings {
  float: left;
  margin-left: 0;
  margin-right: 7px; }
