.analytics-setting.closed .analytics-setting-content {
    display: none;
}

.analytics-setting.done h2 {
    color:#ccc;
    text-decoration: line-through;
}


.center {
    text-align: center;
}

.charts {

}


.charts.half {
    width: 40%;
    height: 400px;
}

.dchart {
    float: left;
    width: 96%;
    overflow: hidden;
    border: 1px solid #eee;
    margin: 2%;
    height: 400px;
}


.dchart.half {
    width: 45%;
    height: 400px;
}


.dukt-update {
    display: none;
    opacity: 0;
    margin: 0 -30px;
    margin-top: -30px;
    padding: 30px;
    border-bottom: 1px solid #eee;
}