.test-report-widget {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 20px; }

.mock-widget {
  border: 2px solid #eee;
  border-radius: 4px;
  padding: 24px;
  position: relative; }
  .mock-widget .body .chart {
    height: 400px; }
