
<h3>Keywords</h3>

{% set results = craft.analytics.api({
    'start-date': date('-1 year')|date("Y-m-d"),
    'end-date': date()|date("Y-m-d"),
    'metrics': 'ga:sessions',
    'dimensions': 'ga:keyword',
    'sort': '-ga:sessions',
    'max-results': 10,
    'filters': 'ga:keyword!=(not set);ga:keyword!=(not provided)'
}) %}

{% if results.success %}
    <table class="table">
        <thead>
            <tr>
                <th>Keywords</th>
                <th>Sessions</th>
            </tr>
        </thead>

        <tbody>
            {% for row in results.rows %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    Error: {{ results.errorMessage }}
{% endif %}