{% extends "analytics/_layout" %}


{% block main %}

    <div class="col-md-12">
        <h1>Hello !</h1>

        <p>Welcome in the Analytics example application. These template will show you how to use Analytics templating features on your Craft website.</p>

        <hr>

        {% if craft.analytics is defined %}
            {% if craft.analytics.isConfigured %}


                <div class="row">
                    <div class="col-md-6">
                        {% include 'analytics/_visits' %}
                        {% include 'analytics/_keywords' %}
                    </div>

                    <div class="col-md-6">
                        {% include 'analytics/_pages' %}
                        {% include 'analytics/_sources' %}
                    </div>
                </div>

            {% else %}
                <h2>Configure Analytics</h2>
                <p>Analytics plugin is installed but not configured.</p>
                <p>You can configure it in <a href="{{cpUrl('settings/plugins/analytics')}}">Analytics plugin settigns</a>.</p>
            {% endif %}
        {% else %}
            <h2>Install Analytics</h2>
            <p>Analytics plugin is not installed. Please install it in order to get started.</p>
        {% endif %}

    </div>

{% endblock main %}
