{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Analytics Settings"|t %}
{% set provider = 'Google' %}

{% includeCssResource "analytics/css/styles.css" %}
{% includeJsResource "analytics/js/checkUpdates.js" %}

{% set crumbs = [
    { label: "Analytics"|t, url: url('analytics') },
] %}

{% set content %}

    {% set account = craft.oauth.getAccount('analytics.system', provider) %}
    {% set service = craft.oauth.getProvider('Google') %}


    {% if account is not defined %}
        {% redirect 'analytics/install' %}
    {% else %}
        {% if not account %}
            {% redirect 'analytics/install' %}
        {% else %}

            {#
            {% set pluginParams = {pluginClass:'Analytics', pluginHandle:'analytics'} %}
            {% if craft.analytics.checkUpdates(pluginParams.pluginClass, pluginParams.pluginHandle) %}
                <p class="center">There is an update available for the Analytics plugin. <a href="{{actionUrl('analytics/plugin/download', pluginParams)}}" class="btn submit small">Update now</a></p>
                <hr>
            {% endif %}

            {% set pluginParams = {pluginClass:'OAuth', pluginHandle:'oauth'} %}
            {% if craft.analytics.checkUpdates(pluginParams.pluginClass, pluginParams.pluginHandle) %}
                <p class="center">There is an update available for the OAuth plugin. <a href="{{actionUrl('analytics/plugin/download', pluginParams)}}" class="btn submit small">Update now</a></p>
                <hr>
            {% endif %}
            #}

            <div class="dukt-update">
                <p class="center">There is an update available for the <strong class="plugin-name">[pluginClass]</strong> plugin. <a href="{{actionUrl('analytics/plugin/update')}}" class="btn submit small">Update now</a></p>
            </div>

            <form method="post" action="" accept-charset="UTF-8">
                <input type="hidden" name="action" value="analytics/settings/save" />
                <input type="hidden" name="redirect" value="analytics" />

                {{ forms.selectField({
                    label: "Web Profile",
                    instructions: "Select an Analytics web profile to associate with your Craft website"|t,
                    options: craft.analytics.properties(),
                    name: 'profileId',
                    value: craft.analytics.getSetting('profileId')
                }) }}

                <p><input type="submit" value="Save" class="btn submit" /></p>
            </form>

            <hr />

            <p>Connected as {{account.email}}. <a class="btn small" href="{{craft.oauth.disconnect('analytics.system', provider)}}">Disconnect from {{provider}}</a></p>
        {% endif %}
    {% endif %}


{% endset %}