{% set title = "Analytics Settings"|t %}

{% if not craft.analytics.isInstalled %}

    {% redirect 'analytics/install' %}

{% else %}

    {% extends "_layouts/cp" %}
    {% import "_includes/forms" as forms %}

    {% set provider = 'Google' %}

    {% includeCssResource "analytics/css/styles.css" %}
    {% includeJsResource "analytics/js/checkUpdates.js" %}

    {% set crumbs = [
        { label: "Analytics"|t, url: url('analytics') },
    ] %}



    {% set account = craft.oauth.getAccount(provider, 'analytics.system') %}
    {% set service = craft.oauth.getProvider('Google') %}


    {% set content %}


    {% if not craft.analytics.isInstalled %}
        {% redirect 'analytics/settings' %}
    {% else %}
        <div class="dukt-update">
            <p class="center">There is an update available for the <strong class="plugin-name">[pluginClass]</strong> plugin. <a href="{{actionUrl('analytics/plugin/update')}}" class="btn submit small">Update now</a></p>
        </div>

        <form method="post" action="" accept-charset="UTF-8">
            <input type="hidden" name="action" value="analytics/settings/save" />
            <input type="hidden" name="redirect" value="analytics" />

            {{ forms.selectField({
                first: true,
                label: "Web Profile",
                instructions: "Select an Analytics web profile to associate with your Craft website"|t,
                options: craft.analytics.properties(),
                name: 'profileId',
                value: craft.analytics.getSetting('profileId')
            }) }}

            <p><input type="submit" value="Save" class="btn submit" /></p>
        </form>

        <hr />

        <p>Connected as {{account.email}}. <a class="btn small" href="{{craft.oauth.disconnect('analytics.system', provider)}}">Disconnect from {{provider}}</a></p>
    {% endif %}




    {% endset %}
{% endif %}