{% set title = "Analytics Settings"|t %}

{% if not craft.analytics.isInstalled %}

    {% redirect 'analytics/install' %}

{% else %}

    {% extends "_layouts/cp" %}
    {% import "_includes/forms" as forms %}

    {% set provider = 'Google' %}

    {% includeCssResource "analytics/css/styles.css" %}

    {% set crumbs = [
        { label: "Analytics"|t, url: url('analytics') },
    ] %}

    {% set provider = craft.oauth.getProvider('Google') %}
    {% set account = craft.oauth.getAccount(provider.handle, 'analytics.system') %}

    {% set content %}

        {% if not craft.analytics.isInstalled %}
            {% redirect 'analytics/settings' %}
        {% else %}

            {% include 'oauth/updates/_check' with {plugins:['oauth', 'analytics']} %}

            <form method="post" action="" accept-charset="UTF-8">
                <input type="hidden" name="action" value="analytics/settings/save" />
                <input type="hidden" name="redirect" value="analytics" />

                {{ forms.selectField({
                    first: true,
                    label: "Web Profile",
                    instructions: "Select an Analytics web profile to associate with your Craft website"|t,
                    options: craft.analytics.properties(),
                    name: 'profileId',
                    value: craft.analytics.getSetting('profileId')
                }) }}

                <p><input type="submit" value="Save" class="btn submit" /></p>
            </form>

            <hr />

            <p>
                Connected as {{account.email}}.

                <a class="btn small" href="{{craft.oauth.disconnect(provider.handle, 'analytics.system')}}">
                    Disconnect from {{provider.name}}
                </a>
            </p>
        {% endif %}

    {% endset %}
{% endif %}