{% extends "_layouts/cp" %}

{% set tabs = {
    columns: { label: "Columns"|t('analytics'), url: url('analytics/tests/columns') },
    columnGroups: { label: "Column Groups"|t('analytics'), url: url('analytics/tests/column-groups') },
    dataTypes: { label: "Data Types"|t('analytics'), url: url('analytics/tests/data-types') },
    formatting: { label: "Formatting"|t('analytics'), url: url('analytics/tests/formatting') },
    reportWidgets: { label: "Report Widgets"|t('analytics'), url: url('analytics/tests/report-widgets') },
    templateVariables: { label: "Template Variables"|t('analytics'), url: url('analytics/tests/template-variables') },
} %}

{% set title = 'Analytics Tests'|t('analytics')%}