{% extends "analytics/_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Analytics"|t %}

{% set content %}

    {% if metadataFileExists %}

        <h2>{{ "Metadata Exists"|t }}</h2>

        <ul>
            <li>{{ dimensions|length }} dimensions</li>
            <li>{{ metrics|length }} metrics</li>
        </ul>

        <div class="buttons">
            <a href="{{ actionUrl('analytics/meta/deleteMetadata') }}" class="btn">Delete Metadata</a>
        </div>
    {% else %}
        <h2>{{ "Metadata Doesn't Exist"|t }}</h2>

        <div class="buttons">
            <a href="{{ actionUrl('analytics/meta/importMetadata') }}" class="btn">Import Metadata</a>
        </div>
    {% endif %}


{% endset %}