

{% if config.showTextEvery is defined %}
    {% set showTextEvery = config.showTextEvery %}
{% else %}
    {% set showTextEvery = 5 %}
{% endif %}

{% set defaultConfig = {
    type: 'AreaChart',
    options: {
        colors: ['#058dc7','#e6f4fa'],
        areaOpacity: 0.1,
        pointSize: 8,
        lineWidth: 4,
        legend: 'none',
        hAxis: {
            textPosition: 'in',
            showTextEvery: showTextEvery,
            slantedText: false,
            textStyle: {
                color: '#058dc7',
                fontSize: 10
            }
        },
        vAxis: {
            textPosition: 'in',
            showTextEvery: 5,
            slantedText: false,
            textStyle: {
                color: '#058dc7',
                fontSize: 10
            },
            baselineColor: '#ccc'
        },
        chartArea:{
            left:0,
            top:0,
            width:"100%",
            height:"100%"
        }
    }
} %}

{% set config = defaultConfig|merge(config) %}

{% include 'analytics/_includes/charts/chart' with config only %}