{% set profile = craft.analytics.profile %}
{% set webProperty = craft.analytics.webProperty %}


{% if options is not defined %}
    {% set options = {} %}
{% endif %}



{# query #}

{% set defaultQuery = {
    param1: 'ga:' ~ profile.id,
    param2: now|date_modify("-1 week")|date("Y-m-d"),
    param3: now|date("Y-m-d"),
    param4: 'ga:visits',
    param5: {
        'dimensions' : 'ga:language'
    }
} %}

{% set query = defaultQuery|merge(query) %}


{# options #}
{# sliceVisibilityThreshold:1/20, #}
{% set defaultOptions = {

        pieHole:0.5,
} %}

{% set options = defaultOptions|merge(options) %}

{% set data = {
    type: type,
    query: query,
    columns: columns,
    options: options
} %}

<div class="analytics-chart {{type}}  analytics-loading">

    <div class="inject"></div>

    <div class="data">
        {{data|json_encode|raw}}
    </div>

    <div class="analytics-error error center hidden">
        <div class="inject"></div>
        <p><a class="btn icon settings" href="{{url('settings/plugins/analytics')}}">{{"Analytics Settings"|t}}</a></p>
    </div>
</div>
