{% extends "analytics/_layout" %}

{% block main %}

    <h1>Analytics Plugin Demos</h1>

    <p>Welcome ! These examples will show you how to use Analytics features on your Craft website.</p>

    <h3>Demos</h3>

    <ul>
        <li>
            Request Analytics API

            <ul>
                <li><a href="{{url('analytics/api/keywords')}}">Keywords</a></li>
                <li><a href="{{url('analytics/api/pages')}}">Pages</a></li>
                <li><a href="{{url('analytics/api/sources')}}">Sources</a></li>
                <li><a href="{{url('analytics/api/visits')}}">Visits</a></li>
            </ul>
        </li>
        <li>
            Charts

            <ul>
                <li><a href="{{ url('analytics/charts/area') }}">Area</a></li>
                <li><a href="{{ url('analytics/charts/area-month') }}">Area Month</a></li>
                <li><a href="{{ url('analytics/charts/area-week') }}">Area Week</a></li>
                <li><a href="{{ url('analytics/charts/area-year') }}">Area Year</a></li>
                <li><a href="{{ url('analytics/charts/geo-advanced') }}">Geo Advanced</a></li>
                <li><a href="{{ url('analytics/charts/geo-cities') }}">Geo Cities</a></li>
                <li><a href="{{ url('analytics/charts/geo-countries') }}">Geo Countries</a></li>
                <li><a href="{{ url('analytics/charts/geo') }}">Geo</a></li>
                <li><a href="{{ url('analytics/charts/line') }}">Line</a></li>
            </ul>
        </li>
    </ul>


    <h3>Analytics Plugin</h3>
    <ul>
        <li><a href="https://dukt.net/craft/analytics/">Analytics plugin for Craft CMS</a></li>
        <li><a href="https://dukt.net/craft/analytics/docs/">Documentation</a></li>
        <li><a href="https://dukt.net/craft/analytics/updates/">Updates</a></li>
    </ul>

{% endblock main %}
