{% extends "analytics/settings/_layout" %}

{% set selectedNavItem = 'sites' %}

{% set content %}
	{% if isConnected %}
		<table class="data fullwidth">
			<thead>
				<tr>
					<th>{{ "Site"|t('analytics') }}</th>
					<th>{{ "Reporting View"|t('analytics') }}</th>
					<th>{{ "Google Analytics View"|t('analytics') }}</th>
				</tr>
			</thead>
			<tbody>

				{% for site in sites %}

					{% set reportingView = false %}

					{% for siteView in siteViews %}
						{% if siteView.siteId == site.id %}
							{% if siteView.view %}
								{% set reportingView = siteView.view %}
							{% endif %}
						{% endif %}
					{% endfor %}


					<tr>
						<td><a href="{{ url('analytics/settings/sites/'~ site.id) }}">{{ site.name }}</a> <span class="light">— {{ site.baseUrl }}</span></td>
						<td>
							{% if reportingView %}
								{{ reportingView.name }}
							{% else %}
								<span class="light">—</span>
							{% endif %}
						</td>
						<td>
							{% if reportingView %}
								<div class="light">
									{{ reportingView.gaAccountName }} →
									{{ reportingView.gaPropertyName }}
								</div>
								{{ reportingView.gaViewName }}
							{% else %}
								<span class="light">—</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	{% else %}
		{% include 'analytics/_special/not-connected' %}
	{% endif %}
{% endset %}
