{% extends "_layouts/cp" %}

{% set tabs = {
	metadata: { label: "Metadata"|t, url: url('analytics/utils/metadata') },
	columns: { label: "Columns"|t, url: url('analytics/utils/columns') },
	columnGroups: { label: "Column Groups"|t, url: url('analytics/utils/columnGroups') },
	dataTypes: { label: "Data Types"|t, url: url('analytics/utils/dataTypes') },
	tests: { label: "Tests"|t, url: url('analytics/utils/tests') },
	charts: { label: "Charts"|t, url: url('analytics/utils/charts') },
} %}

{% set title = 'Analytics Utilities'|t %}