<!-- CONFIGURE CLIENT ID & SECRET -->

<h2>Client ID &amp; Secret</h2>

{% set serviceProviderClass = providerClass %}

{% if service is not defined %}
    {% if serviceProviderClass %}
        {% set service = craft.oauth.getProvider(serviceProviderClass) %}

        {% if not service %}{% exit 404 %}{% endif %}
    {% else %}
        {% set service = null %}
    {% endif %}
{% endif %}


<form method="post" action="" accept-charset="UTF-8">
    <input type="hidden" name="action" value="oauth/settings/providerSave">
    <input type="hidden" name="redirect" value="{{pluginHandle}}/settings" />
    <input type="hidden" name="serviceProviderClass" value="{{ serviceProviderClass }}" />

    {% set providerLibrary = craft.oauth.providerInstantiate(serviceProviderClass) %}

    <p>Create an OAuth 2.0 application in the <a target="_blank" href="{{providerLibrary.consoleUrl}}">Google Console</a>.</p>

    <p>Note that Google OAuth authentication callback only works with remote and specific local domains :</p>

    <ul>
        <li><strong>Works :</strong> http://site.com/</li>
        <li><strong>Works :</strong> http://localhost/</li>
        <li><strong>Doesn't work :</strong> http://site.dev </li>
    </ul>

    <p>Configure the application with the following settings :</p>

    <ul>
        <li><strong>Authorized Redirect URI :</strong> {{craft.oauth.connectCallback(serviceProviderClass)}}</li>
        <li><strong>Authorized JavaScript Origins :</strong> {{siteUrl}}</li>
    </ul>

    <p>You also need to enable Analytics for this newly created Application, under <strong>Google Console / Your App / Services</strong>.</p>

    <p>Once configured, copy / paste your Client ID &amp; Secret below.</p>

    {{ forms.textField({
        label: 'Client Id'|t,
        required: true,
        name: 'service[clientId]',
        value: service ? service.clientId : null,
        errors: service ? service.errors('clientId') : null,
        disabled: ((service.token is defined and service.token|length) > 0 ? true : false)
    }) }}

    {{ forms.textField({
        label: 'Client Secret'|t,
        required: true,
        name: 'service[clientSecret]',
        value: service ? service.clientSecret : null,
        errors: service ? service.errors('clientSecret') : null,
        disabled: (service.token is defined and service.token|length > 0 ? true : false)
    }) }}

    <div class="buttons">
        {% if (service.token is defined and service.token|length == 0) or service.token is not defined %}
            <input class="btn submit" type="submit" value="{{ 'Save API credentials'|t }}">
        {% elseif service.id is defined %}
            <a class="btn" href="{{actionUrl('connect/settings/tokenReset', {providerClass:serviceProviderClass})}}">Reset Token</a>
        {% endif %}
    </div>
</form>


