<!-- CONFIGURE CLIENT ID & SECRET -->

<h2>Client ID &amp; Secret</h2>

<form method="post" action="" accept-charset="UTF-8">
    <input type="hidden" name="action" value="oauth/settings/providerSave">
    <input type="hidden" name="redirect" value="{{pluginHandle}}/settings" />
    <input type="hidden" name="providerHandle" value="{{ providerHandle }}" />
    {% if provider %}<input type="hidden" name="providerId" value="{{ provider.id }}" />{% endif %}

    <p>Create an OAuth 2.0 application in the <a target="_blank" href="{{provider.consoleUrl}}">Google Console</a>.</p>

    <p>Note that Google OAuth authentication callback only works with remote and specific local domains :</p>

    <ul>
        <li><strong>Works :</strong> http://site.com/</li>
        <li><strong>Works :</strong> http://localhost/</li>
        <li><strong>Doesn't work :</strong> http://site.dev </li>
    </ul>

    <p>Configure the application with the following settings :</p>

    <ul>
        <li><strong>Authorized Redirect URI :</strong> {{craft.oauth.callbackUrl(providerHandle)}}</li>
        <li><strong>Authorized JavaScript Origins :</strong> {{siteUrl}}</li>
    </ul>

    <p>You also need to enable Analytics for this newly created Application, under <strong>Google Console / Your App / providers</strong>.</p>

    <p>Once configured, copy / paste your Client ID &amp; Secret below.</p>

    {{ forms.textField({
        label: 'Client Id'|t,
        required: true,
        name: 'provider[clientId]',
        value: provider ? provider.clientId : null,
        errors: provider ? provider.errors('clientId') : null,

    }) }}

    {{ forms.textField({
        label: 'Client Secret'|t,
        required: true,
        name: 'provider[clientSecret]',
        value: provider ? provider.clientSecret : null,
        errors: provider ? provider.errors('clientSecret') : null,

    }) }}

    <div class="buttons">
        <input class="btn submit" type="submit" value="{{ 'Save API credentials'|t }}">
    </div>

    {#
    {{ forms.textField({
        label: 'Client Id'|t,
        required: true,
        name: 'provider[clientId]',
        value: provider ? provider.clientId : null,
        errors: provider ? provider.errors('clientId') : null,
        disabled: ((provider.token is defined and provider.token|length) > 0 ? true : false)
    }) }}

    {{ forms.textField({
        label: 'Client Secret'|t,
        required: true,
        name: 'provider[clientSecret]',
        value: provider ? provider.clientSecret : null,
        errors: provider ? provider.errors('clientSecret') : null,
        disabled: (provider.token is defined and provider.token|length > 0 ? true : false)
    }) }}

    <div class="buttons">
        {% if (provider.token is defined and provider.token|length == 0) or provider.token is not defined %}
            <input class="btn submit" type="submit" value="{{ 'Save API credentials'|t }}">
        {% elseif provider.id is defined %}
            <a class="btn" href="{{actionUrl('connect/settings/tokenReset', {providerHandle:providerHandle})}}">Reset Token</a>
        {% endif %}
    </div>
    #}
</form>


