{% set scope = [
    'https://www.googleapis.com/auth/userinfo.profile',
    'https://www.googleapis.com/auth/userinfo.email',
    'https://www.googleapis.com/auth/analytics'
    ] %}

{% if account %}

    {% redirect pluginHandle~'/settings' %}

{% else %}

    <h2>Authenticate</h2>

    {% if service is defined %}
        {% if service.id is not null %}

            <p>Authenticate with {{providerClass}} so we can start gathering data from the API.</p>
            <p>
                <a class="btn submit" href="{{ craft.oauth.connect(pluginHandle~'.system', providerClass, false, scope) }}">Authenticate with {{providerClass}}</a> &nbsp;

            </p>
            <p>
                <a class="btn small" href="{{url(pluginHandle~'/install/api')}}">Change API Client ID &amp; secret</a>
            </p>

        {% endif %}
    {% endif %}

{% endif %}
