{% set title = "Analytics Installation"|t %}

{% set providerHandle = 'google' %}
{% set pluginHandle = 'analytics' %}

{% if craft.analytics.isInstalled %}
    {% redirect pluginHandle~'/settings' %}
{% else %}

    {% extends "_layouts/cp" %}
    {% import "_includes/forms" as forms %}

    {% includeCssResource pluginHandle~"/css/styles.css" %}
    {% includeJsResource pluginHandle~"/js/scripts.js" %}

    {% set content %}

        {% include 'oauth/updates/_check' with {plugins:['oauth', 'analytics']} %}

        {% if craft.oauth is not defined %}
            {% include pluginHandle~'/install/_oauth' %}
        {% else %}
            {% set provider = craft.oauth.getProvider(providerHandle, false) %}

            {% if provider.isConfigured() == false or craft.request.getSegment(3) == 'api' %}
                {% include pluginHandle~'/install/_api' %}
            {% else %}
                {% include pluginHandle~'/install/_authenticate' %}
            {% endif %}

        {% endif %}

    {% endset %}
{% endif %}