{% import "_includes/forms" as forms %}

{% includeCssResource 'analytics/css/AnalyticsChartWidgetSettings.css' %}
{% includeJsResource 'analytics/js/AnalyticsChartWidgetSettings.js' %}

{% set chartTypes = {
        area: "Area"|t,
        counter: "Counter"|t,
        pie: "Pie"|t,
        table: "Table"|t,
        geo: "Geo"|t,
} %}

{% spaceless %}
    <div class="chart-picker">
        {{ forms.selectField({
            label: "Chart"|t,
            class: 'chart-select',
            name: 'chart',
            options: chartTypes,
            value: settings.chart,
            toggle: true,
            targetPrefix: 'chart'
        }) }}

        <ul class="chart-types">
            {% for chartType, chartLabel in chartTypes %}
                <li data-chart-type="{{ chartType }}"{{ settings.chart == chartType ? ' class="active"' }}></li>
            {% endfor %}
        </ul>
    </div>
{% endspaceless %}

{{ forms.selectField({
    label: "Period"|t,
    name: 'period',
    class: 'period',
    options: {
        week: "Week"|t,
        month: "Month"|t,
        year: "Year"|t,
    },
    value: settings.period
}) }}

{{ inject|raw }}

{% set colspanOptions = { 1:1, 2:2, 3:3, 4:4 } %}

{{ forms.selectField({
    label: "Columns"|t,
    options: colspanOptions,
    name: 'colspan',
    value: (settings.colspan is not null ? settings.colspan : 2)
}) }}
