{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Analytics"|t %}
{% set provider = 'Google' %}

{% includeCssResource "analytics/css/styles.css" %}
{% includeJsResource "analytics/js/scripts.js" %}


{% set extraPageHeaderHtml %}
  <a class="btn settings icon" href="{{ url('analytics/settings') }}" title="{{ 'Settings'|t }}"></a>
{% endset %}

{% set content %}

    {% set account = craft.oauth.getAccount('analytics.system', provider) %}

    {% set accountId = false %}
    {% set webPropertyId = false %}

    {% set properties = craft.analytics.api.management_webproperties.listManagementWebproperties("~all") %}

    {% for item in properties.items %}
      {% if item.id ==  craft.analytics.getSetting('profileId') %}

        {% set accountId = item.accountId %}
        {% set webPropertyId = item.id %}

      {% endif %}
    {% endfor %}


    <h2 class="center">Last 30 days</h2>

    <script type="text/javascript" src="http://playground.craft.dk/admin/resources/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    {% includeJsResource "analytics/js/dchart.js" %}

    <script type="text/javascript">

            var charts = {};

            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(function() {
                  // initialize all dcharts once ready
            });

    </script>


    {% include 'analytics/_chart' with {
        id:'visits',
        options: {
            title: 'Visits',
            chartType:'line'
        },
        half: false,
        sourceParams: {
            'dimensions' : 'ga:year, ga:month, ga:day'
        }
    } %}


    <div class="charts">

        {% include 'analytics/_chart' with {
            id:'countries',
            options: {
                title: 'Countries',
                chartType:'donut'
            },
            half: true,
            sourceParams: {
                'dimensions' : 'ga:country'
            }
        } %}

        {% include 'analytics/_chart' with {
            id:'isMobile',
            options: {
                title: 'Is Mobile',
                chartType:'donut'
            },
            half: true,
            sourceParams: {
                'dimensions' : 'ga:isMobile'
            }
        } %}

        {% include 'analytics/_chart' with {
            id:'socialNetworks',
            options: {
                title: 'Social Networks',
                chartType:'donut'
            },
            half: true,
            sourceParams: {
                'dimensions' : 'ga:socialNetwork'
            }
        } %}


        {% include 'analytics/_chart' with {
            id:'sources',
            options: {
                title: 'Sources',
                chartType:'donut'
            },
            half: true,
            sourceParams: {
                'dimensions' : 'ga:source'
            }
        } %}

      <div class="clear"></div>
    </div>

{% endset %}
