{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Analytics"|t %}
{% set provider = 'Google' %}

{% includeCssResource "analytics/css/styles.css" %}

{%- includeJsResource 'analytics/js/jsapi.js' first %}

{% includeJsResource 'analytics/js/dchart.js' %}
{% includeJsResource 'analytics/js/dukt-chart.js' %}





{% set extraPageHeaderHtml %}
  <a class="btn settings icon" href="{{ url('analytics/settings') }}" title="{{ 'Settings'|t }}"></a>
{% endset %}

{% set content %}

    {#% set account = craft.oauth.getAccount('analytics.system', provider) %#}

    {% set accountId = false %}
    {% set webPropertyId = false %}

    {% set properties = craft.analytics.api.management_webproperties.listManagementWebproperties("~all") %}

    {% for item in properties.items %}
      {% if item.id ==  craft.analytics.getSetting('profileId') %}

        {% set accountId = item.accountId %}
        {% set webPropertyId = item.id %}

      {% endif %}
    {% endfor %}


    {% set profiles = craft.analytics.api.management_profiles.listManagementProfiles(accountId, webPropertyId) %}
    {% set profileId = profiles.items[0].id %}



    <h2 class="center">Last 30 days</h2>

    {% include 'analytics/_chart' with {
        half:false,
        dimensions:'ga:year, ga:month, ga:day',
        title: 'Visits'
    } %}

    {% include 'analytics/_chart' with {
        half:true,
        dimensions:'ga:country',
        title: 'Countries',
        type:'donut'
    } %}

    {% include 'analytics/_chart' with {
        half:true,
        dimensions:'ga:isMobile',
        title: 'Is Mobile',
        type:'column'
    } %}

    {% include 'analytics/_chart' with {
        half:true,
        dimensions:'ga:socialNetwork',
        title: 'Social Networks',
        type:'donut'
    } %}


    {% include 'analytics/_chart' with {
        half:true,
        dimensions:'ga:source',
        title: 'Sources',
        type:'donut'
    } %}

    <div class="clear"></div>
{% endset %}
