{% set title = "Analytics"|t %}


{% includeCssResource "analytics/css/styles.css" %}
{% includeJsResource "analytics/js/scripts.js" %}

{% if craft.oauth is not defined %}
  {% redirect 'analytics/settings' %}
{% else %}




  {% set provider = 'Google' %}


  {% set account = craft.oauth.getAccount('analytics.system', provider) %}

  {% if not account %}
      {% redirect 'analytics/settings' %}
  {% endif %}

  {% extends "_layouts/cp" %}



  {% set extraPageHeaderHtml %}
      <a class="btn settings icon" href="{{ url('analytics/settings') }}" title="{{ 'Settings'|t }}"></a>
  {% endset %}

  {% import "_includes/forms" as forms %}


  {% set content %}


    {% if not craft.analytics.api %}
      {% redirect 'analytics/settings' %}
    {% else %}


        {% set accountId = false %}
        {% set webPropertyId = false %}

        {% set properties = craft.analytics.api.management_webproperties.listManagementWebproperties("~all") %}

        {% for item in properties.items %}
          {% if item.id ==  craft.analytics.getSetting('profileId') %}

            {% set accountId = item.accountId %}
            {% set webPropertyId = item.id %}

          {% endif %}
        {% endfor %}


        {% if accountId is defined and webPropertyId is defined %}

            {% set profiles = craft.analytics.api.management_profiles.listManagementProfiles(accountId, webPropertyId) %}
            {% set profileId = profiles.items[0].id %}

            {% set optParams = {
                'dimensions' : 'ga:year, ga:month, ga:day'
                } %}

            {% set resultsLinechart = craft.analytics.api.data_ga.get(
               'ga:' ~ profileId,
               now|date_modify("-1 month")|date("Y-m-d"),
               now|date("Y-m-d"),
               'ga:visits', optParams) %}


            {% set optParams = {
                'dimensions' : 'ga:country'
                } %}

            {% set resultsCountry = craft.analytics.api.data_ga.get(
               'ga:' ~ profileId,
               now|date_modify("-1 month")|date("Y-m-d"),
               now|date("Y-m-d"),
               'ga:visits', optParams) %}


            {% set optParams = {
                'dimensions' : 'ga:isMobile'
                } %}

            {% set resultsType = craft.analytics.api.data_ga.get(
               'ga:' ~ profileId,
               now|date_modify("-1 month")|date("Y-m-d"),
               now|date("Y-m-d"),
               'ga:visits', optParams) %}

            {% set optParams = {
                'dimensions' : 'ga:socialNetwork'
                } %}

            {% set resultsSocial = craft.analytics.api.data_ga.get(
               'ga:' ~ profileId,
               now|date_modify("-1 month")|date("Y-m-d"),
               now|date("Y-m-d"),
               'ga:visits', optParams) %}


            <script type="text/javascript" src="http://playground.craft.dk/admin/resources/lib/jquery-1.9.1.min.js"></script>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript">
              google.load("visualization", "1", {packages:["corechart"]});
              google.setOnLoadCallback(drawChart);
              function drawChart() {
                var data = google.visualization.arrayToDataTable([
                  ['Day', 'Visitors'],
                  {% for row in resultsLinechart.rows %}
                      ['{{row[2]}}/{{row[1]}}',  {{row[3]}}],
                  {% endfor %}
                ]);

                var data2 = google.visualization.arrayToDataTable([
                  ['Day', 'Visitors'],
                  {% for row in resultsCountry.rows %}
                      ['{{row[0]}}',  {{row[1]}}],
                  {% endfor %}
                ]);
                var data3 = google.visualization.arrayToDataTable([
                  ['Day', 'Visitors'],
                  {% for row in resultsType.rows %}
                      ['{{row[0]}}',  {{row[1]}}],
                  {% endfor %}
                ]);
                var data4 = google.visualization.arrayToDataTable([
                  ['Day', 'Visitors'],
                  {% for row in resultsSocial.rows %}
                      ['{{row[0]}}',  {{row[1]}}],
                  {% endfor %}
                ]);

                var options = {
                  title: 'Last 30 days',
                  legend:{position:'bottom'},
                  chartArea : {width:'90%'},
                  vAxis: {minValue: 4, format: '#'},
                  hAxis: {minValue: 4, format: '#', showTextEvery:5}
                };


                var options2 = {
                  title: 'Countries',
                  legend:'none',
                  sliceVisibilityThreshold:1/50,
                  pieHole:0.5,
                  chartArea : {width:'90%'},
                };
                var options3 = {
                  title: 'Is Mobile',
                  legend:'none',
                  sliceVisibilityThreshold:1/50,
                  pieHole:0.5,
                  chartArea : {width:'90%'},
                };
                var options4 = {
                  title: 'Social Network',
                  legend:'none',
                  sliceVisibilityThreshold:1/50,
                  pieHole:0.5,
                  chartArea : {width:'90%'},
                };


                var chart = new google.visualization.LineChart(document.getElementById('linechart'));
                var chart2 = new google.visualization.PieChart(document.getElementById('country'));
                var chart3 = new google.visualization.PieChart(document.getElementById('type'));
                var chart4 = new google.visualization.PieChart(document.getElementById('social'));
                chart.draw(data, options);
                chart2.draw(data2, options2);
                chart3.draw(data3, options3);
                chart4.draw(data4, options4);
              }

              $(window).resize(function() {
                    drawChart();
              });
            </script>



            <div id="linechart" style="width: 100%; height: 400px;"></div>

        {% endif %}
    {% endif %}


    <div class="charts">

        <div id="country" class="chart half">

        </div>

        <div id="type" class="chart half">

        </div>

        <div id="social" class="chart half">

        </div>

      <div class="clear"></div>
    </div>
  {% endset %}


{% endif %}