{% set provider = 'Google' %}

{% set account = craft.oauth.getAccount('analytics.system', provider) %}

{% if not account %}
    {% redirect 'analytics/settings' %}
{% endif %}



{% extends "analytics/_layout" %}
{% set selectedTab = 'properties' %}


{% import "_includes/forms" as forms %}





{% set content %}
    {% if account %}
    {% set properties = craft.analytics.api.management_webproperties.listManagementWebproperties("~all") %}

    {% for item in properties.items %}

        <h2>{{item.name}}</h2>
        <pre>{{dump(item)}}</pre>

        <hr />
    {% endfor %}

    <p>
        Google account connected : {{account.email}}. <a href="{{craft.oauth.disconnect('analytics.system', provider)}}" class="btn small">Disconnect</a>
    </p>
    {% endif %}
{% endset %}