{% set provider = 'Google' %}

{% set account = craft.oauth.getAccount('analytics.system', provider) %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Analytics Settings"|t %}

{% set crumbs = [
    { label: "Analytics"|t, url: url('analytics') },
] %}

{% set content %}

<ol>
    <li>Check that OAuth plugin is install otherwise auto download/install it</li>
    <li>Connect to Analytics Plus through OAuth plugin</li>
    <li>Create a system token</li>
</ol>

<hr />

<table class="data">
    {% set scope = [
                'https://www.googleapis.com/auth/userinfo.profile',
                'https://www.googleapis.com/auth/userinfo.email',
                'https://www.googleapis.com/auth/analytics'
                ] %}

    {% if account %}
        <tr>
            <td>{{provider}}</td>
            <td>{{account.email}}</td>
            <td><a href="{{craft.oauth.deauthenticate('analytics.system', provider)}}">Disconnect</a></td>
        </tr>
    {% else %}
        <tr>
            <td>{{provider}}</td>
            <td><em>Not authenticated</em></td>
            <td><a href="{{ craft.oauth.authenticate('analytics.system', provider, scope) }}">Authenticate</a></td>
        </tr>
    {% endif %}
</table>

{% endset %}
