{% extends "analytics/_layouts/tests" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'accountExplorer' %}

{% set content %}

	<h2>{{ "Account Explorer"|t }}</h2>

	<ul>
		<li><a href="#accounts">Accounts</a></li>
		<li><a href="#webProperties">Web Properties</a></li>
		<li><a href="#profiles">Profiles</a></li>
	</ul>

	<h2>Account Explorer</h2>
	<div id="account-explorer" class="account-explorer">

		{{ forms.selectField({
			label: "Account"|t,
			name: 'account',
			class: 'account disabled',
			disabled: true,
			options: {},
		}) }}

		{{ forms.selectField({
			label: "Property"|t,
			name: 'property',
			class: 'property disabled',
			disabled: true,
			options: {},
		}) }}

		{{ forms.selectField({
			label: "View"|t,
			name: 'view',
			class: 'view disabled',
			disabled: true,
			options: {},
		}) }}

	</div>

	{% includeJsResource 'analytics/js/AccountExplorer.js' %}

	{% includejs %}
		var accountExplorer = new Analytics.AccountExplorer('#account-explorer');
	{% endincludejs %}

	<h2 id="accounts">{{ "Accounts"|t }}</h2>

	<table class="data fullwidth">

		<thead>
			<tr>
				<th>Account Name</th>
				<th>Account ID</th>
				<th>Starred</th>
			</tr>
		</thead>

		{% for account in accounts %}
			<tr>
				<td>{{ account.name }}</td>
				<td>{{ account.id }}</td>
				<td>{{ ( account.starred ? 'yes' : 'no' ) }}</td>
			</tr>
		{% endfor %}
	</table>

	<h2 id="webProperties">{{ "Web Properties" }}</h2>

	<table class="data fullwidth">

		<thead>
			<tr>
				<th>Web Property Name</th>
				<th>Web Property ID</th>
				<th>Internal Web Property ID</th>
				<th>Account ID</th>
				<th>Level</th>
				<th>Profile Count</th>
				<th>Starred</th>
				<th>Website URL</th>
			</tr>
		</thead>

		{% for webProperty in webProperties %}
			<tr>
				<td>{{ webProperty.name }}</td>
				<td>{{ webProperty.id }}</td>
				<td>{{ webProperty.internalWebPropertyId }}</td>
				<td>{{ webProperty.accountId }}</td>
				<td>{{ webProperty.level }}</td>
				<td>{{ webProperty.profileCount }}</td>
				<td>{{ ( webProperty.starred ? 'true' : 'false' ) }}</td>
				<td>{{ webProperty.websiteUrl }}</td>
			</tr>
		{% endfor %}
	</table>

	<h2 id="profiles">{{ "Profiles"|t }}</h2>

	<table class="data fullwidth">

		<thead>
		<tr>
			<th>Profile Name</th>
			<th>Profile ID</th>
			<th>Account ID</th>
			<th>Currency</th>
			<th>Ecommerce Tracking</th>
			<th>Timezone</th>
			<th>Type</th>
			<th>Web Property ID</th>
			<th>Internal Web Property ID</th>
			<th>Website URL</th>
		</tr>
		</thead>

		{% for profile in profiles %}
			<tr>
				<td>{{ profile.name }}</td>
				<td>{{ profile.id }}</td>
				<td>{{ profile.accountId }}</td>
				<td>{{ profile.currency }}</td>
				<td>{{ ( profile.eCommerceTracking ? 'true' : 'false' ) }}</td>
				<td>{{ profile.timezone }}</td>
				<td>{{ profile.type }}</td>
				<td>{{ profile.webPropertyId }}</td>
				<td>{{ profile.internalWebPropertyId }}</td>
				<td>{{ profile.websiteUrl }}</td>
			</tr>
		{% endfor %}
	</table>

{% endset %}