{% extends "analytics/_layouts/tests" %}
{% import "_includes/forms" as forms %}
{% import "analytics/tests/_includes/macros" as macros %}

{% set selectedTab = 'reportWidgets' %}

{% set content %}

	{% includejs %}
		window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
		window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";

		var AnalyticsChartLanguage = "{{ "analyticsChartLanguage"|t }}";
	{% endincludejs %}

	<div class="test-report-widget">
		<h2>Area Report Widget</h2>

		{{ macros.reportWidget({
			chart: 'area',
			period: 'month',
			options: {
				metric: 'ga:users'
			}
		}) }}
	</div>

	<div class="test-report-widget">
		<h2>Counter Report Widget</h2>

		{{ macros.reportWidget({
			chart: 'counter',
			period: 'month',
			options: {
				metric: 'ga:users'
			}
		}) }}
	</div>


	<div class="test-report-widget">
		<h2>Pie Report Widget</h2>

		{{ macros.reportWidget({
			chart: 'pie',
			period: 'month',
			options: {
				dimension: 'ga:userType',
				metric: 'ga:users'
			}
		}) }}
	</div>


	<div class="test-report-widget">
		<h2>Table Report Widget</h2>

		{{ macros.reportWidget({
			chart: 'table',
			period: 'month',
			options: {
				dimension: 'ga:userType',
				metric: 'ga:users'
			}
		}) }}
	</div>

	<div class="test-report-widget">
		<h2>Geo Report Widget</h2>

		{{ macros.reportWidget({
			chart: 'geo',
			period: 'month',
			options: {
				dimension: 'ga:subContinent',
				metric: 'ga:users'
			}
		}) }}
	</div>


{% endset %}