.settingsmodal {
    width: 330px;
    min-width: 330px;
    min-height: auto;
}

.settingsmodal .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.analytics_stats
{
    .chart-wrapper { min-height: 150px; position: relative; }
    .chart { min-height: 150px; }
    .chart-wrapper .spinner { position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -12px; }

    .actions { float: none !important; position: absolute; top: -36px; right: -8px; }
    .actions a.dk-settings-btn { color: rgb(41, 50, 61); opacity: .5; padding: 6px 8px; }
    .actions a.dk-settings-btn:hover { opacity: .8;  }


    .counter {
        padding: 12px 0;
        text-align: center;

        .value {
            font-size: 5em;
            line-height: 1em;
            margin-bottom: 0.1em;
        }

        .label, .period {
            display: inline;
            font-size: 1.2em;
            opacity: .7;
        }

        .label {
            color: #318EC4;
        }

        .period {
            color: #666;
        }
    }
}