{% import "_includes/forms" as forms %}

{%- includeJsResource 'analytics/js/jsapi.js' first %}
{% includeJsResource 'analytics/js/AnalyticsUtils.js' %}
{% includeJsResource 'analytics/js/AnalyticsBrowser.js' %}
{% includeCssResource "analytics/css/AnalyticsBrowser.css" %}


<div class="clear"></div>

<div class="analytics-browser">

    <div class="spinner hidden"></div>

    {# Infos #}

    <div class="analytics-infos">
        <span class="analytics-infos-dimension">Browsers</span>
        <span class="analytics-infos-count">1543</span>
        <span class="analytics-infos-metric">Visits</span>
        <span class="analytics-infos-period">last month</span>
    </div>

    <div class="right analytics-total">
        <strong class="analytics-count"></strong> <em class="analytics-label"></em>
    </div>


    {# Charts #}

    <div class="analytics-counter hidden">
        <div class="analytics-counter-value">1423</div>
        <div class="analytics-counter-label"></div>
        <div class="analytics-counter-period">last month</div>
    </div>
    <div class="analytics-chart"></div>
    <div class="analytics-table analytics-chart-table hidden"></div>
    <div class="analytics-piechart hidden"></div>

    <div class="analytics-inject"></div>

</div>
