{% import "_includes/forms" as forms %}

{% includeJsResource 'analytics/js/AnalyticsExplorer.js' %}
{% includeCssResource "analytics/css/AnalyticsExplorer.css" %}

<div class="analytics-widget" data-widget-id="{{widget.id}}">


    {# Toolbox #}

    <div class="analytics-toolbox">

{#         <div class="btngroup">
            <div class="btn">Open</div>
        </div> #}

        <div class="analytics-pin"><div class="analytics-pin-in"></div></div>

    </div>

    <div class="analytics-collapsible">

        <div class="analytics-menu">
            {{ forms.selectField({
                options: browserSelect
            }) }}
        </div>


        {% include 'analytics/widgets/explorer/_browserHeader' %}

        <div class="clear"></div>

    </div>

    {# Real-Time #}

    <div class="analytics-view hidden" data-view="realtime">
        {% include 'analytics/widgets/explorer/_realtime' %}
    </div>


    {# Browser #}

    <div class="analytics-view" data-view="browser">
        {% include 'analytics/widgets/explorer/_browser' %}
    </div>

</div>