{% import "_includes/forms" as forms %}

{%- includeJsResource 'analytics/js/jsapi.js' first %}
{% includeJsResource 'analytics/js/AnalyticsExplorer.js' %}
{% includeCssResource "analytics/css/AnalyticsExplorer.css" %}
{% includeJsResource 'analytics/js/AnalyticsUtils.js' %}

<div class="analytics-widget analytics-small" data-widget-id="{{widget.id}}">

    {# actions #}

    <div class="analytics-actions">
        {% set webProperty = craft.analytics.webProperty %}

        <div class="analytics-open"
            data-account-id="{{ webProperty.accountId }}"
            data-property-id="{{ webProperty.internalWebPropertyId }}"
            data-profile-id="{{ webProperty.defaultProfileId }}"></div>
        <div class="analytics-pin">
            <div class="analytics-pin-in"></div>
        </div>
    </div>

    <div class="analytics-collapsible">


        {# Menu #}

        <div class="analytics-menu">
            {{ forms.selectField({
                options: browserSelect
            }) }}
        </div>


        {# Toolbar #}

        <div class="analytics-toolbar">

            {# Browser Settings #}

            <div class="analytics-settings">
                <div class="analytics-settings-in">
                    <div class="analytics-settings-in-in">
                        <div class="analytics-fields left">

                            <div class="analytics-dimension-field analytics-field hidden">

                                {{ forms.selectField({
                                    first: true,
                                    label: "Dimension"|t,
                                    class:"analytics-dimension small",
                                    name: 'dimension',
                                }) }}

                            </div>

                            <div class="analytics-metric-field analytics-field">

                                {{ forms.selectField({
                                    first: true,
                                    label: "Metric"|t,
                                    class:"analytics-metric small",
                                    name: 'metric',
                                }) }}
                            </div>
                        </div>


                        <div class="right">

                            {# Chart type #}

                            <div class="field analytics-chart-picker">
                                <div class="heading">
                                    <label>Chart</label>
                                </div>
                                <div class="input">
                                    <div class="analytics-tabletype btngroup">

                                        <div data-tabletype="area" role="button" class="btn active" title="{{ "Area"|t }}">
                                            <span class="icon-chart icon-chart-area"></span>
                                        </div>

                                        <div data-tabletype="counter" role="button" class="btn active" title="{{ "Counter"|t }}">
                                            <span class="icon-chart icon-chart-counter"></span>
                                        </div>

                                        <div data-tabletype="table" role="button" class="btn" title="{{ "Table"|t }}">
                                            <span class="icon-chart icon-chart-table"></span>
                                        </div>

                                        <div data-tabletype="pie" role="button" class="btn" title="{{ "Pie"|t }}">
                                            <span class="icon-chart icon-chart-pie"></span>
                                        </div>

                                        <div data-tabletype="geo" role="button" class="btn" title="{{ "Geo"|t }}">
                                            <span class="icon-chart icon-chart-geo"></span>
                                        </div>
                                    </div>

                                    <div class="analytics-disabled-tabletype btngroup">
                                    </div>

                                    &nbsp;
                                </div>
                            </div>


                            {# Period #}

                            <div class="analytics-period">

                                {{ forms.selectField({
                                    name: 'period',
                                    label: "Period"|t,
                                    options: [
                                        { "label": "Week"|t, "value": "week"},
                                        { "label": "Month"|t, "value": "month"},
                                        { "label": "Year"|t, "value": "year"},
                                    ]
                                }) }}

                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="analytics-error error hidden">
        Error
    </div>


    {# Browser #}

    <div class="analytics-browser">

        {# Infos #}

        <div class="analytics-infos">
            <span class="analytics-infos-dimension">Browsers</span>
            <span class="analytics-infos-count">1543</span>
            <span class="analytics-infos-metric">Visits</span>
            <span class="analytics-infos-period">last month</span>
        </div>

        <div class="right analytics-total">
            <strong class="analytics-count"></strong> <em class="analytics-label"></em>
        </div>


        {# Charts #}

        <div class="analytics-counter hidden">
            <div class="analytics-counter-value">1423</div>
            <div class="analytics-counter-label"></div>
            <div class="analytics-counter-period">last month</div>
        </div>

        <div class="analytics-chart"></div>
        <div class="analytics-geo"></div>
        <div class="analytics-table analytics-chart-table hidden"></div>
        <div class="analytics-piechart hidden"></div>
        <div class="analytics-inject"></div>
    </div>

</div>