{# Menu #}

{%- set value = (value is defined ? value : null) %}
{%- set hasOptgroups = false -%}

<select data-bind="value: selectedMenu, event: {change: menuChange}, myCustomBinding: 'test'">
    {% for key, option in browserSelect %}
        {% if option.optgroup is defined %}
            {% if hasOptgroups %}
                </optgroup>
            {% else %}
                {% set hasOptgroups = true %}
            {% endif %}
            <optgroup label="{{ option.optgroup }}">
        {% else %}
            {% set optionLabel = (option.label is defined ? option.label : option) %}
            {% set optionValue = (option.value is defined ? option.value : key) %}
            {% set optionDisabled = (option.disabled is defined ? option.disabled : false) %}
            <option value="{{ optionValue }}"{% if optionValue == value %} selected{% endif %}{% if optionDisabled %} disabled{% endif %}>{{ optionLabel }}</option>
        {% endif %}
    {% endfor %}
    {% if hasOptgroups %}
        </optgroup>
    {% endif %}
</select>

<hr>

<!-- ko if: selectedView === 'realtimeVisitors' -->

    <div class="view" data-view="realtimeVisitors">
        <h3>Realtime Visitors</h3>
    </div>

<!-- /ko -->


<!-- ko if: selectedView === 'browser' -->

    <div class="view">

        <h3>Browser</h3>

        <p data-bind="visible: dimensions().length > 0">
            <label for="dimensions">Dimensions</label>
            <select id="dimensions" data-bind="options: dimensions, optionsText: 'label', optionsValue: 'value', value: selectedDimension"></select>
        </p>

        <p data-bind="visible: metrics().length > 0">
            <label for="metrics">Metrics</label>
            <select id="metrics" data-bind="options: metrics, optionsText: 'label', optionsValue: 'value', value: selectedMetric"></select>
        </p>

        <p data-bind="visible: enabledCharts().length > 0">
            <label for="charts">Charts</label>
            <select id="charts" data-bind="options: enabledCharts, value: selectedChart"></select>
        </p>

        <p>
            <label for="period">Period</label>
            <select id="period" data-bind="value: selectedPeriod">
                <option value="week">Week</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </p>

    </div>

<!-- /ko -->