{% set chartQuery = {
    param1 : 'ga:' ~ profile.id,
    param2 : now|date_modify("-"~settings.periodQuantity~" "~settings.periodUnit~"s")|date("Y-m-d"),
    param3 : now|date("Y-m-d"),
    param4 : settings.metric,
    param5 : {
        'dimensions' : settings.dimensions
    }
} %}


{% if settings.chartType == "donut" %}

    {% set defaultChartOptions = {
        legend:'none',
        chartType:settings.chartType,
        chartArea : {
            width:'90%',
            height: '90%'
        }
    } %}

{% else %}

    {% set defaultChartOptions = {
        title: settings.title,
        chartType:settings.chartType,
        chartArea : {
            width:'100%',
            height:'100%',
            left:0,
            right:0,
            top:0,
            bottom:0
        }
    } %}

{% endif %}

{% if chartOptions is not defined %}
    {% set chartOptions = defaultChartOptions %}
{% endif %}


{% set chart = {
    chart: {
        chartQuery: chartQuery,
        chartOptions: chartOptions
    }
} %}

{% include 'analytics/_includes/chartElement' with chart %}