{% if craft.analytics.isConfigured %}

	{% includeCssResource "analytics/css/styles.css" %}

	{%- includeJsResource 'analytics/js/jsapi.js' first %}
	{% includeJsResource 'analytics/js/dchart.js' %}
	{% includeJsResource 'analytics/js/analytics-charts.js' %}

	{% set profile = craft.analytics.profile %}
	{% set webProperty = craft.analytics.webProperty %}

    {% if profile.error is defined %}

        <div class="center">
            <p class="error">{{profile.error}}</p>

            <p><a href="{{url('settings/plugins/analytics')}}" class="btn icon settings">Analytics settings</a></p>
        </div>

    {% else %}

		{% block body %}
		{% endblock %}

	{% endif %}

{% else %}

	<p><a href="{{url('settings/plugins/analytics')}}">Configure Analytics</a> plugin in order to get started.</p>

{% endif %}