{% import "analytics/_includes/charts" as charts %}

{% includeCssResource "analytics/css/styles.css" %}

<div class="{{ 'craft-'~craft.app.version|replace('.', '-') }} {{'analytics-colspan-'~colspan}} {{'analytics-report-'~type}}">

    {% if craft.analytics.isConfigured %}

    	{%- includeJsResource 'analytics/js/jsapi.js' first %}
        {% includeJsResource 'analytics/js/analytics-tabs.js' %}
    	{% includeJsResource 'analytics/js/AnalyticsChart.js' %}

    	{% set profile = craft.analytics.profile %}
    	{% set webProperty = craft.analytics.webProperty %}

        {% if profile.error is defined %}

            <div class="center">
                <p class="error">{{ profile.error|t }}</p>

                <p><a href="{{url('settings/plugins/analytics')}}" class="btn icon settings">{{'Analytics settings'|t}}</a></p>
            </div>

        {% else %}

    		{% block body %}
    		{% endblock %}

    	{% endif %}

    {% else %}
    	<p><a href="{{url('settings/plugins/analytics')}}">{{'Configure Analytics plugin in order to get started'|t}}</a></p>
    {% endif %}

</div>