{% extends "analytics/_widgets/_layout" %}

{% includeJsResource 'analytics/js/analytics-tabs.js' %}

{% block body %}

	<div class="analyticsTabs">
		<ul class="analyticsNav">
			<li><a href="#week">{{'Sources'|t}}</a></li>
			<li><a href="#week">{{'Keywords'|t}}</a></li>
			<li><a href="#month">{{'Networks'|t}}</a></li>
		</ul>

		<div class="clear"></div>

		<div class="analyticsTab hidden">
			{% include 'analytics/_widgets/_chart' with {
			    settings: {
					title:"Acquisition : Traffic Sources"|t,
					chartType:'donut',
					dimensions:'ga:source',
					metric:'ga:visits',
					periodQuantity: 1,
					periodUnit: 'month'
				}
			} %}

			{% include 'analytics/_widgets/_tableChart' with {
				'label' : 'Source'|t,
				'dimensions' : 'ga:source'
			} %}
		</div>

		<div class="analyticsTab hidden">
			{% include 'analytics/_widgets/_chart' with {
			    settings: {
					title:"Acquisition : Keywords"|t,
					chartType:'donut',
					dimensions:'ga:keyword',
					metric:'ga:visits',
					periodQuantity: 1,
					periodUnit: 'month'
				}
			} %}

			{% include 'analytics/_widgets/_tableChart' with {
				'label' : 'Keyword'|t,
				'dimensions' : 'ga:keyword'
			} %}
		</div>

		<div class="analyticsTab hidden">
			{% include 'analytics/_widgets/_chart' with {
			    settings: {
					title:"Acquisition : Social Network"|t,
					chartType:'donut',
					dimensions:'ga:socialNetwork',
					metric:'ga:visits',
					periodQuantity: 1,
					periodUnit: 'month'
				}
			} %}


			{% include 'analytics/_widgets/_tableChart' with {
				'label' : 'Social Network'|t,
				'dimensions' : 'ga:socialNetwork'
			} %}
		</div>

	</div>


{% endblock %}