{# <a href="{{actionUrl('analytics/customReport', {id:widget.model.id})}}">Go to controller</a> #}
<a href="#" data-widget-id="{{widget.model.id}}" class="analytics-trigger-load">Load Data</a>

{% includeCssResource "analytics/css/styles.css" %}
{%- includeJsResource 'analytics/js/jsapi.js' first %}
{% includeJsResource 'analytics/js/customReport.js' %}

<div class="{{'analytics-colspan-'~colspan}}">

    <div id="chart_div"  style="width: 500px; height: 500px;"></div>
    <ul id="chart_totals"></ul>

</div>