{% extends "analytics/_widgets/_layout" %}

{% includeJsResource 'analytics/js/analytics-tabs.js' %}

{% block body %}

	<div class="analyticsTabs">
		<ul class="analyticsNav">
			<li><a href="#language">{{'Language'|t}}</a></li>
			<li><a href="#country">{{'Country'|t}}</a></li>
			<li><a href="#city">{{'City'|t}}</a></li>
		</ul>

		<div class="clear"></div>

		<div class="analyticsTab hidden">
			{% include 'analytics/_widgets/_chart' with {
			    settings: {
					title:"Audience : Language"|t,
					chartType:'donut',
					dimensions:'ga:language',
					metric:'ga:visits',
					periodQuantity: 1,
					periodUnit: 'month'
				}
			} %}

			{% include 'analytics/_widgets/_tableChart' with {
				'label' : 'Language'|t,
				'dimensions' : 'ga:language'
			} %}
		</div>

		<div class="analyticsTab hidden">
			{% include 'analytics/_widgets/_chart' with {
			    settings: {
					title:"Audience : Country"|t,
					chartType:'donut',
					dimensions:'ga:country',
					metric:'ga:visits',
					periodQuantity: 1,
					periodUnit: 'month'
				}
			} %}

			{% include 'analytics/_widgets/_tableChart' with {
				'label' : 'Country'|t,
				'dimensions' : 'ga:country'
			} %}
		</div>

		<div class="analyticsTab hidden">

			{% include 'analytics/_includes/chartElement' with {
			    chart: {
			    	cols: [
						{
							'label' : 'City'|t,
							'type': 'string'
						},
						{
							'label' : 'Visits'|t,
							'type': 'number'
						}
			    	],
			        chartQuery: {
					    param1 : 'ga:' ~ profile.id,
					    param2 : now|date_modify("-1 month")|date("Y-m-d"),
					    param3 : now|date("Y-m-d"),
					    param4 : 'ga:visits',
					    param5 : {
					        'dimensions' : 'ga:city',
					        'sort' : '-ga:visits'
					    }
					},
			        chartOptions: {
				        title: 'City'|t,
				        allowHtml: true,
				        chartType:'table',
				        chartArea : {
				        }
				    }
			    }
			} %}
		</div>

	</div>


{% endblock %}