{% extends "analytics/_widgets/_layout" %}

{% includeJsResource 'analytics/js/widget.js' %}

{% block body %}

	<div class="analyticsTabs">
		<ul class="analyticsNav">
			<li><a href="#week">{{'Is Mobile'|t}}</a></li>
			<li><a href="#year">{{'Mobile Device'|t}}</a></li>
		</ul>

		<div class="clear"></div>

		<div class="analyticsTab hidden">
			{% include 'analytics/_widgets/_chart' with {
			    settings: {
					title:"Audience : Is Mobile ?",
					chartType:'donut',
					dimensions:'ga:isMobile',
					metric:'ga:visits',
					periodQuantity: 1,
					periodUnit: 'month'
				}
			} %}
		</div>

		<div class="analyticsTab hidden">
			{% include 'analytics/_widgets/_chart' with {
			    settings: {
					title:"Audience : Mobile Device",
					chartType:'donut',
					dimensions:'ga:mobileDeviceInfo',
					metric:'ga:visits',
					periodQuantity: 1,
					periodUnit: 'month'
				}
			} %}
		</div>
	</div>


{% endblock %}