{% import "_includes/forms" as forms %}

{{ forms.textField({
    first: true,
    label: "Name"|t,
    name: 'name',
    placeholder: 'My Widget',
    value: settings.name
}) }}

{{ forms.selectField({
    label: "Report"|t,
    options: types,
    name: 'type',
    value: settings.type
}) }}

{% if craft.app.version > 1.3 %}

    {% set colspanOptions = { 1:1, 2:2 } %}

    {{ forms.selectField({
        first: true,
        label: "Columns"|t,
        options: colspanOptions,
        name: 'colspan',
        value: (settings.colspan is not null ? settings.colspan : 2)
    }) }}

{% endif %}