{% extends "analytics/_widgets/_layout" %}

{% includeJsResource 'analytics/js/analytics-tabs.js' %}

{% block body %}

	<div class="analytics-tabs">
		<ul class="analytics-nav">
			<li><a href="#week">{{'Browser'|t}}</a></li>
			<li><a href="#month">{{'OS'|t}}</a></li>
			<li><a href="#year">{{'Resolution'|t}}</a></li>
		</ul>

		<div class="clear"></div>

		<div class="analyticsTab hidden">
			{{ charts.report({
			    query: {
			        param2: now|date_modify("-1 month")|date("Y-m-d"),
			        param3: now|date("Y-m-d"),
			        param4: 'ga:visits',
			        param5: {
				        'dimensions' : 'ga:browser',
				        'sort' : '-ga:visits'
			        }
			    },
			    columns: [
			        {
			            type: 'string',
			            label: 'Browser'
			        },
			        {
			            type: 'number',
			            label: 'Visits'|t
			        }
			    ]
			}) }}
		</div>

		<div class="analyticsTab hidden">
			{{ charts.report({
			    query: {
			        param2: now|date_modify("-1 month")|date("Y-m-d"),
			        param3: now|date("Y-m-d"),
			        param4: 'ga:visits',
			        param5: {
				        'dimensions' : 'ga:operatingSystem',
				        'sort' : '-ga:visits'
			        }
			    },
			    columns: [
			        {
			            type: 'string',
			            label: 'Operating System'
			        },
			        {
			            type: 'number',
			            label: 'Visits'|t
			        }
			    ]
			}) }}

		</div>

		<div class="analyticsTab hidden">

			{{ charts.report({
			    query: {
			        param2: now|date_modify("-1 month")|date("Y-m-d"),
			        param3: now|date("Y-m-d"),
			        param4: 'ga:visits',
			        param5: {
				        'dimensions' : 'ga:screenResolution',
				        'sort' : '-ga:visits'
			        }
			    },
			    columns: [
			        {
			            type: 'string',
			            label: 'Screen Resolution'
			        },
			        {
			            type: 'number',
			            label: 'Visits'|t
			        }
			    ]
			}) }}

		</div>
	</div>


{% endblock %}