{% extends "analytics/_widgets/_layout" %}

{% block body %}

	{% set profile = craft.analytics.profile %}
	{% set webProperty = craft.analytics.webProperty %}

	{% if profile.error is defined %}

		<div class="center">
			<p class="error">{{ profile.error|t }}</p>

			<p><a href="{{url('settings/plugins/analytics')}}" class="btn icon settings">{{'Analytics settings'|t}}</a></p>
		</div>

	{% else %}

		<div class="analytics-tabs">
			<ul class="analytics-nav">
				<li><a href="#week">{{'Week'|t}}</a></li>
				<li><a href="#month">{{'Month'|t}}</a></li>
				<li><a href="#year">{{'Year'|t}}</a></li>
			</ul>

			<div class="clear"></div>

			<div class="analyticsTab hidden">

				{{ charts.area({
			        query: {
			            param2: now|date_modify("-1 week")|date("Y-m-d"),
			            param3: now|date("Y-m-d"),
			            param4: 'ga:visits',
			            param5: {
					        'dimensions' : 'ga:day, ga:month, ga:year',
					        'sort' : 'ga:year, ga:month, ga:day',
			            }
			        },
			        columns: [
			            {
			                type: 'string',
			                label: 'Date'|t
			            },
			            {
			                type: 'number',
			                label: 'Visits'|t
			            }
			        ],
			        showTextEvery: 2
			    }) }}
			</div>

			<div class="analyticsTab hidden">

				{{ charts.area({
			        query: {
			            param2: now|date_modify("-1 month")|date("Y-m-d"),
			            param3: now|date("Y-m-d"),
			            param4: 'ga:visits',
			            param5: {
					        'dimensions' : 'ga:day, ga:month, ga:year',
					        'sort' : 'ga:year, ga:month, ga:day',
			            }
			        },
			        columns: [
			            {
			                type: 'string',
			                label: 'Date'|t
			            },
			            {
			                type: 'number',
			                label: 'Visits'|t
			            }
			        ],

				    showTextEvery: 10
			    }) }}
			</div>

			<div class="analyticsTab hidden">

				{{ charts.area({
			        query: {
			            param2: now|date_modify("-1 year")|date("Y-m-d"),
			            param3: now|date("Y-m-d"),
			            param4: 'ga:visits',
			            param5: {
					        'dimensions' : 'ga:month, ga:year',
					        'sort' : 'ga:year, ga:month',
			            }
			        },
			        columns: [
			            {
			                type: 'string',
			                label: 'Date'|t
			            },
			            {
			                type: 'number',
			                label: 'Visits'|t
			            }
			        ],
			        showTextEvery: 3
			    }) }}
			</div>
		</div>
	{% endif %}

{% endblock %}