.settingsmodal {
  width: 330px;
  min-width: 330px;
  min-height: auto;
}
.settingsmodal .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.analytics_stats .body {
  min-height: 100px;
}
.analytics_stats .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -24px;
}
.analytics_stats .chart {
  min-height: 150px;
}
.analytics_stats .chart {
  margin-top: 24px;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -24px;
}
.analytics_stats .actions {
  display: none;
  float: none !important;
  position: absolute;
  top: -46px;
  right: -8px;
}
.analytics_stats .actions a.dk-settings-btn {
  color: #29323d;
  opacity: .5;
  padding: 6px 8px;
}
.analytics_stats .actions a.dk-settings-btn:hover {
  opacity: .8;
}
.analytics_stats:hover .actions {
  display: block;
}
.analytics_stats .counter {
  padding: 12px 0;
  text-align: center;
}
.analytics_stats .counter .value {
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 0.1em;
}
.analytics_stats .counter .label,
.analytics_stats .counter .period {
  display: inline;
  font-size: 1.2em;
  opacity: .7;
}
.analytics_stats .counter .label {
  color: #318EC4;
}
.analytics_stats .counter .period {
  color: #666;
}
