.settingsmodal {
  width: 330px;
  min-width: 330px;
  min-height: auto;
}
.settingsmodal .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.analytics_stats:hover .actions {
  display: block;
}
.analytics_stats .actions {
  display: none;
  float: none !important;
  position: absolute;
  top: -38px;
  right: -8px;
}
.analytics_stats .actions a.dk-settings-btn {
  color: #29323d;
  opacity: .5;
  padding: 6px 8px;
}
.analytics_stats .actions a.dk-settings-btn:hover {
  opacity: .8;
}
.analytics_stats .body {
  min-height: 100px;
}
.analytics_stats .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -24px;
}
.analytics_stats .chart {
  min-height: 150px;
}
.analytics_stats .chart.area {
  margin: 0 -24px -24px -24px;
}
.analytics_stats .chart.counter {
  min-height: inherit;
  padding: 12px 0;
  text-align: center;
}
.analytics_stats .chart.counter .value {
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 0.1em;
}
.analytics_stats .chart.counter .label,
.analytics_stats .chart.counter .period {
  display: inline;
  font-size: 1.2em;
  opacity: .7;
}
.analytics_stats .chart.counter .label {
  color: #318EC4;
}
.analytics_stats .chart.counter .period {
  color: #666;
}
.analytics_stats .chart.table {
  margin: 0 0 20px 0;
  position: relative;
  min-height: 30px;
  border-top: 1px dotted #e3e5e8;
  min-height: 60px;
}
.analytics_stats .chart.table > div {
  position: inherit;
}
.analytics_stats .chart.table td {
  width: 100px;
}
.analytics_stats .chart.table td strong {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
  overflow: hidden;
  font-weight: normal;
}
.analytics_stats .chart.table .google-visualization-table-table {
  width: 100%;
}
.analytics_stats .chart.table .google-visualization-table-th {
  background: none !important;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 1px dotted #e3e5e8;
  color: rgba(0, 0, 0, 0.298039);
  font-size: 0.8em;
  white-space: nowrap;
}
.analytics_stats .chart.table .google-visualization-table-th:first-child {
  text-align: left;
}
.analytics_stats .chart.table .google-visualization-table-th:last-child {
  text-align: right;
}
.analytics_stats .chart.table .google-visualization-table-th span {
  display: none;
}
.analytics_stats .chart.table td.google-visualization-table-td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px dotted #e3e5e8;
}
.analytics_stats .chart.table td.google-visualization-table-td:hover {
  background: #fff;
}
.analytics_stats .chart.table td.google-visualization-table-td.google-visualization-table-td-number {
  text-align: right;
}
.analytics_stats .chart.table .google-visualization-table-tr-sel td,
.analytics_stats .chart.table .google-visualization-table-tr-over td {
  background-color: #fff;
}
.analytics_stats .chart.table .google-visualization-table-tr-sel.google-visualization-table-tr-odd,
.analytics_stats .chart.table .google-visualization-table-tr-over.google-visualization-table-tr-odd {
  background-color: #fff;
}
.analytics_stats .chart.table .google-visualization-table-div-page {
  margin-top: 10px;
  text-align: center;
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
}
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button-inner-box {
  padding: 2px 10px;
}
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button {
  background: #fff;
  margin: 0 3px;
}
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box {
  border-color: #ccc;
}
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #ccc;
}
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button:hover,
.analytics_stats .chart.table .charts-custom-button-hover {
  background: #fff;
}
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box {
  border-color: #bbb !important;
}
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #bbb !important;
}
.analytics_stats .chart.table .google-visualization-table-div-page .charts-custom-button-disabled {
  opacity: .1;
}
.analytics_stats .chart.table .google-visualization-table-div-page .page-number {
  padding: 10px;
}
.analytics_stats .chart.table .google-visualization-table-page-numbers {
  display: none;
}
