{% extends "analytics/_layouts/tests" %}
{% import "_includes/forms" as forms %}
{% import "analytics/tests/_includes/macros" as macros %}

{% set selectedTab = 'reportWidgets' %}

{% set content %}

    {% js %}
        window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
        window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";

        var AnalyticsChartLanguage = "{{ "analyticsChartLanguage"|t('analytics') }}";
    {% endjs %}

    {{ macros.testReportWidget("Area", {
        viewId: 1,
        chart: 'area',
        period: 'month',
        options: {
            metric: 'ga:users'
        }
    }) }}

    {{ macros.testReportWidget("Counter", {
        viewId: 1,
        chart: 'counter',
        period: 'month',
        options: {
            metric: 'ga:users'
        }
    }) }}

    {{ macros.testReportWidget("Pie", {
        viewId: 1,
        chart: 'pie',
        period: 'month',
        options: {
            dimension: 'ga:userType',
            metric: 'ga:users'
        }
    }) }}

    {{ macros.testReportWidget("Table", {
        viewId: 1,
        chart: 'table',
        period: 'month',
        options: {
            dimension: 'ga:userType',
            metric: 'ga:users'
        }
    }) }}

    {{ macros.testReportWidget("Geo", {
        viewId: 1,
        chart: 'geo',
        period: 'month',
        options: {
            dimension: 'ga:subContinent',
            metric: 'ga:users'
        }
    }) }}

{% endset %}