{% extends "analytics/_layouts/tests" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'vue' %}

{% set content %}
    <div id="analytics-vue-tests"></div>

{#    <hr>

    <h2 class="first">{{ "Report Widget"|t('analytics') }}</h2>
    <div id="report-widget"></div>

    <h2>{{ "Report Widget Settings"|t('analytics') }}</h2>
    <div id="report-widget-settings"></div>#}

{% endset %}