.center {
  text-align: center;
}
/************
 * Tabs
 *************/
.analytics-tabs .analytics-tabs-nav {
  margin: 0 -24px;
  margin-top: 10px;
  margin-bottom: 24px;
  padding: 0 24px;
  background: #fcfcfc;
  text-align: center;
}
.analytics-tabs .analytics-tabs-nav li {
  display: inline-block;
  margin-right: 0.8em;
}
.analytics-tabs .analytics-tabs-nav li a {
  padding: 5px 0px;
  padding-top: 8px;
  display: block;
  color: #888;
}
.analytics-tabs .analytics-tabs-nav li a:hover {
  text-decoration: none;
}
.analytics-tabs .analytics-tabs-nav li a.active {
  color: #333;
  border-bottom: 2px solid #0d78f2;
}
.analytics-realtime {
  clear: both;
  padding-top: 12px;
}
.analytics-realtime .spinner {
  position: absolute;
  top: 0;
  right: -12px;
}
.analytics-realtime .active-visitors {
  text-align: center;
  margin-bottom: 1em;
}
.analytics-realtime .active-visitors .currently {
  font-size: 1.5em;
}
.analytics-realtime .active-visitors .count {
  display: block;
  font-size: 10em;
  line-height: 1.2em;
}
.analytics-realtime .progress {
  color: #fff;
  margin: 2em 0;
  text-align: center;
}
.analytics-realtime .progress .progress-bar {
  float: left;
}
.analytics-realtime .progress .progress-bar span {
  display: block;
  padding: 0 0.5em;
  line-height: 1.5em;
}
.analytics-realtime .progress .progress-bar.blue {
  background: #058DC7;
}
.analytics-realtime .progress .progress-bar.green {
  background: #50B431;
}
.analytics-realtime .legend {
  text-align: center;
}
.analytics-realtime .legend li {
  clear: left;
  display: inline-block;
  margin-right: 1em;
}
.analytics-realtime .legend li strong {
  margin-top: 2px;
  background: #eee;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  display: block;
  float: left;
  margin-right: 0.3em;
  text-indent: -3000px;
}
.analytics-realtime .legend li.blue strong {
  background: #058dc7;
}
.analytics-realtime .legend li.green strong {
  background: #50b431;
}
