.analytics-custom-report {
  background: url("../images/spinner.gif") no-repeat center center;
}
.analytics-custom-report.error {
  background: url("../images/error.png") no-repeat center 20px;
  padding-top: 90px;
  text-align: center;
}
.analytics-custom-report.error .error {
  color: #aaa !important;
}
.analytics-custom-report.error .chart {
  display: none;
}
.chart {
  border-top: 1px dotted #e3e5e8;
}
.chart.areachart {
  border-top: 0;
  height: 200px;
}
.chart.columnchart {
  height: 280px;
}
.chart.geochart {
  height: 600px;
}
.chart.piechart {
  height: 280px;
}
.chart.table {
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  min-height: 30px;
}
.chart.table > div {
  position: inherit;
}
.chart.table .google-visualization-table-th {
  background: none;
  border: 0;
  border-bottom: 1px dotted #e3e5e8;
  color: rgba(0, 0, 0, 0.298039);
  font-size: 0.8em;
  white-space: nowrap;
}
.chart.table .google-visualization-table-th:first-child {
  text-align: left;
}
.chart.table .google-visualization-table-th:last-child {
  text-align: right;
}
.chart.table .google-visualization-table-th span {
  display: none;
}
.chart.table td.google-visualization-table-td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px dotted #e3e5e8;
}
.chart.table td.google-visualization-table-td:hover {
  background: #fff;
}
.chart.table td.google-visualization-table-td.google-visualization-table-td-number {
  text-align: right;
}
.chart.table td {
  width: 100px;
}
.chart.table td strong {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
  overflow: hidden;
  font-weight: normal;
}
.chart.table .google-visualization-table-tr-sel td,
.chart.table .google-visualization-table-tr-over td {
  background-color: #fff;
}
.chart.table .google-visualization-table-tr-sel.google-visualization-table-tr-odd td,
.chart.table .google-visualization-table-tr-over.google-visualization-table-tr-odd td {
  background-color: #fff;
}
.chart.table .google-visualization-table-div-page {
  margin-top: 10px;
  text-align: center;
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
}
.chart.table .google-visualization-table-div-page .charts-custom-button-inner-box {
  padding: 2px 10px;
}
.chart.table .google-visualization-table-div-page .charts-custom-button {
  background: #fff;
  margin: 0 3px;
}
.chart.table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box {
  border-color: #ccc;
}
.chart.table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #ccc;
}
.chart.table .google-visualization-table-div-page .charts-custom-button:hover,
.chart.table .google-visualization-table-div-page .charts-custom-button-hover {
  background: #fff;
}
.chart.table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
.chart.table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box {
  border-color: #bbb !important;
}
.chart.table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box .charts-custom-button-inner-box,
.chart.table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #bbb !important;
}
.chart.table .google-visualization-table-div-page .charts-custom-button-disabled {
  opacity: .1;
}
.chart.table .google-visualization-table-div-page .page-number {
  padding: 10px;
}
.chart.table .google-visualization-table-page-numbers {
  display: none;
}
.analytics-colspan-1 .chart.geochart {
  height: 200px;
}
.analytics-colspan-2 .chart.geochart {
  height: 400px;
}
.analytics-colspan-3 .chart.geochart {
  height: 500px;
}
@media screen and (max-width: 1292px) {
  .analytics-colspan-4 .chart.geochart {
    height: 500px;
  }
}
@media screen and (max-width: 973px) {
  .analytics-colspan-4 .chart.geochart {
    height: 400px;
  }
}
@media screen and (max-width: 653px) {
  .analytics-colspan-4 .chart.geochart {
    height: 300px;
  }
}
@media screen and (max-width: 973px) {
  .analytics-colspan-2 .chart.geochart,
  .analytics-colspan-3 .chart.geochart {
    height: 400px;
  }
}
@media screen and (max-width: 653px) {
  .analytics-colspan-1 .chart.geochart,
  .analytics-colspan-2 .chart.geochart,
  .analytics-colspan-3 .chart.geochart {
    height: 300px;
  }
}
