.analytics-browser .spinner {
  position: absolute;
  top: 0;
  right: -24px;
}
.analytics-browser .btngroup .btn {
  padding: 4px 10px;
  height: 28px;
  font-size: 11px;
}
.analytics-browser .select {
  box-shadow: none;
  border: 1px solid #ddd;
}
.analytics-browser .btngroup.btngroup {
  box-shadow: none;
  border: 1px solid #eee;
}
.analytics-browser .btngroup .btn {
  background: #fff;
  box-shadow: none;
  color: #555;
}
.analytics-browser .btngroup .btn.active {
  background: #fcfcfc;
  color: #aaa;
}
.analytics-browser .analytics-header {
  margin: 0 -24px;
  padding: 18px 24px;
  padding-top: 0;
  border-bottom: 1px solid #fafafa;
  margin-bottom: 20px;
}
.analytics-browser .analytics-header h2 {
  float: left;
  margin-right: 1em;
}
.analytics-browser .analytics-header .field {
  float: left;
  margin-bottom: 0 !important;
  margin-right: 12px;
}
.analytics-browser .analytics-header .field .select {
  box-shadow: none;
  background: #fff;
  border: 1px solid #eee;
  overflow: hidden;
}
.analytics-browser .analytics-header .field:last-child {
  margin-right: 0;
}
.analytics-browser .analytics-header ul.analytics-date li {
  display: inline-block;
}
.analytics-browser .analytics-header ul.analytics-date li a {
  color: #666;
  padding: 5px 8px;
  display: block;
  border-radius: 4px;
}
.analytics-browser .analytics-header ul.analytics-date li a:hover {
  background: #fafafa;
  text-decoration: none;
}
.analytics-browser .analytics-header ul.analytics-date li a.sel {
  color: #11549A;
  background: #E3F0FD;
}
.analytics-browser .analytics-fields {
  text-align: left;
  margin-bottom: 24px;
}
.analytics-browser .analytics-fields .analytics-field {
  display: inline-block;
  text-align: left;
}
.analytics-browser .analytics-dimension {
  box-shadow: none;
  background: #F2F6EB;
  border: 1px solid #AEC683;
}
.analytics-browser .analytics-dimension select {
  color: #6CAB34;
}
.analytics-browser .analytics-metric {
  box-shadow: none;
  background: #E7F3F8;
  border: 1px solid #89BAD9;
}
.analytics-browser .analytics-metric select {
  color: #318EC4;
}
.analytics-browser .analytics-block {
  margin: 0 -24px;
  padding: 20px 24px;
}
.analytics-browser .analytics-block:first-child {
  padding-top: 0;
}
.analytics-browser .analytics-total {
  display: none;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.8em;
}
.analytics-browser .analytics-total strong {
  font-weight: normal;
}
.analytics-browser .analytics-total em {
  font-size: 0.9em;
  font-style: normal;
  color: #ccc;
}
.analytics-browser .analytics-chart {
  background: #fafafa;
  height: 140px;
}
.analytics-browser .analytics-piechart {
  height: 282px;
}
.analytics-browser .analytics-section-nav-wrap {
  margin: 0 -24px;
  padding: 0px 24px;
  margin-bottom: 0;
}
.analytics-browser .analytics-section-nav-wrap .analytics-section-nav div.analytics-section-nav-item {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.analytics-browser .analytics-section-nav-wrap .analytics-section-nav div.analytics-section-nav-item:last-child {
  margin-right: 0;
}
.analytics-chart-table {
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  min-height: 30px;
  border-top: 1px dotted #e3e5e8;
  min-height: 60px;
}
.analytics-chart-table > div {
  position: inherit;
}
.analytics-chart-table .google-visualization-table-th {
  background: none !important;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 1px dotted #e3e5e8;
  color: rgba(0, 0, 0, 0.298039);
  font-size: 0.8em;
  white-space: nowrap;
}
.analytics-chart-table .google-visualization-table-th:first-child {
  text-align: left;
}
.analytics-chart-table .google-visualization-table-th:last-child {
  text-align: right;
}
.analytics-chart-table .google-visualization-table-th span {
  display: none;
}
.analytics-chart-table td.google-visualization-table-td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px dotted #e3e5e8;
}
.analytics-chart-table td.google-visualization-table-td:hover {
  background: #fff;
}
.analytics-chart-table td.google-visualization-table-td.google-visualization-table-td-number {
  text-align: right;
}
.analytics-chart-table td {
  width: 100px;
}
.analytics-chart-table td strong {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
  overflow: hidden;
  font-weight: normal;
}
.analytics-chart-table .google-visualization-table-tr-sel td,
.analytics-chart-table .google-visualization-table-tr-over td {
  background-color: #fff;
}
.analytics-chart-table .google-visualization-table-tr-sel.google-visualization-table-tr-odd td,
.analytics-chart-table .google-visualization-table-tr-over.google-visualization-table-tr-odd td {
  background-color: #fff;
}
.analytics-chart-table .google-visualization-table-div-page {
  margin-top: 10px;
  text-align: center;
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
}
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button-inner-box {
  padding: 2px 10px;
}
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button {
  background: #fff;
  margin: 0 3px;
}
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box {
  border-color: #ccc;
}
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #ccc;
}
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button:hover,
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button-hover {
  background: #fff;
}
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box {
  border-color: #bbb !important;
}
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box .charts-custom-button-inner-box,
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #bbb !important;
}
.analytics-chart-table .google-visualization-table-div-page .charts-custom-button-disabled {
  opacity: .1;
}
.analytics-chart-table .google-visualization-table-div-page .page-number {
  padding: 10px;
}
.analytics-chart-table .google-visualization-table-page-numbers {
  display: none;
}
