.center {
  text-align: center;
}
a.more,
a.less {
  margin: 0 -30px;
  text-align: center;
  padding: 0.5em;
}
a.more {
  margin-bottom: -20px;
}
a.less {
  margin-bottom: 10px;
}
div.more .analyticsChart.table {
  margin-top: 30px;
  margin-bottom: 20px;
}
/* analyticsChart */
.analyticsChart {
  margin-bottom: 20px;
  background: url(../images/spinner.gif) no-repeat 50% 50%;
}
.analyticsChart.dk-loaded {
  background: none;
}
.analyticsChart.error {
  min-height: 0 !important;
}
.analyticsChart.column {
  min-height: 150px;
}
.analyticsChart.doubleHeight {
  min-height: 290px;
}
.analyticsChart.donut {
  min-height: 250px;
}
.analyticsChart.table {
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  min-height: 30px;
}
.analyticsChart.table > div {
  position: inherit;
}
.analyticsChart.table .google-visualization-table-th {
  background: none;
  border: 0;
  border-top: 1px solid #e3e5e8;
  border-bottom: 1px solid #e3e5e8;
  color: rgba(0, 0, 0, 0.498039);
  font-size: 0.8em;
  white-space: nowrap;
}
.analyticsChart.table .google-visualization-table-th:first-child {
  text-align: left;
}
.analyticsChart.table .google-visualization-table-th:last-child {
  text-align: right;
}
.analyticsChart.table td {
  width: 100px;
}
.analyticsChart.table td strong {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
  overflow: hidden;
  font-weight: normal;
}
.analyticsChart.table .google-visualization-table-td {
  background: #fff;
}
.analyticsChart.table .google-visualization-table-tr-over td {
  background-color: #fafafa;
}
.analyticsChart.table .google-visualization-table-tr-over.google-visualization-table-tr-odd td {
  background-color: #fafafa;
}
.analyticsChart.table .google-visualization-table-tr-sel td {
  background-color: #fff;
}
.analyticsChart.table .google-visualization-table-tr-sel.google-visualization-table-tr-odd td {
  background-color: #fff;
}
.analyticsChart.table .google-visualization-table-div-page {
  margin-top: 10px;
  text-align: center;
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
}
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button-inner-box {
  padding: 2px 10px;
}
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button {
  background: #fff;
  margin: 0 3px;
}
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box {
  border-color: #ccc;
}
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #ccc;
}
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button:hover,
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button-hover {
  background: #fff;
}
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box {
  border-color: #bbb !important;
}
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box .charts-custom-button-inner-box,
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #bbb !important;
}
.analyticsChart.table .google-visualization-table-div-page .charts-custom-button-disabled {
  opacity: .1;
}
.analyticsChart.table .google-visualization-table-div-page .page-number {
  padding: 10px;
}
.analyticsChart.table .google-visualization-table-page-numbers {
  display: none;
}
.analyticsChart .data {
  display: none;
}
/* Tabs */
.analyticsTabs .analyticsNav {
  margin: 0 -30px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 30px;
  background: #fcfcfc;
  text-align: center;
}
.analyticsTabs .analyticsNav li {
  display: inline-block;
  margin-right: 0.8em;
}
.analyticsTabs .analyticsNav li a {
  padding: 5px 0px;
  padding-top: 8px;
  display: block;
  color: #888;
}
.analyticsTabs .analyticsNav li a:hover {
  text-decoration: none;
}
.analyticsTabs .analyticsNav li a.active {
  color: #333;
  border-bottom: 2px solid #0d78f2;
}
.craft-1-4 .analyticsTabs .analyticsNav {
  margin: 0 -24px;
  margin-bottom: 24px;
  padding: 0 24px;
}
