.center {
  text-align: center;
}
/* analyticsChart */
.analyticsChart {
  background: url(../images/spinner.gif) no-repeat 50% 50%;
}
.analyticsChart.column {
  height: 150px;
}
.analyticsChart.donut {
  height: 250px;
}
.analyticsChart .data {
  display: none;
}
/* Tabs */
.analyticsTabs .analyticsNav {
  margin: 0 -30px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 30px;
  background: #fcfcfc;
  text-align: center;
}
.analyticsTabs .analyticsNav li {
  display: inline-block;
  margin-right: 0.8em;
}
.analyticsTabs .analyticsNav li a {
  padding: 5px 0px;
  padding-top: 8px;
  display: block;
  color: #888;
}
.analyticsTabs .analyticsNav li a:hover {
  text-decoration: none;
}
.analyticsTabs .analyticsNav li a.active {
  color: #333;
  border-bottom: 2px solid #0d78f2;
}
