.center {
    text-align: center;
}

/* analyticsChart */

.analyticsChart {

    background: url(../images/spinner.gif) no-repeat 50% 50%;

    &.column {
        height: 150px;
    }

    &.donut {
        height: 250px;
    }

    .data {
        display: none;
    }
}

/* Tabs */

.analyticsTabs {

    .analyticsNav {
        margin: 0 -30px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 0 30px;

        background: #fcfcfc;
        text-align: center;

        li {
            display: inline-block;
            margin-right: 0.8em;

            a {
                // font-weight: bold;
                padding: 5px 0px;
                padding-top: 8px;
                display: block;
                color: #888;

                &:hover {
                    text-decoration: none;
                }

                &.active {
                    color: #333;
                    border-bottom: 2px solid rgb(13, 120, 242);
                }
            }
        }
    }
}