.center {
    text-align: center;
}

/**************************************************/

.dukt-chart.column {
    height: 150px;
}

.dukt-chart.donut {
    height: 250px;
}

/**************************************************/


.chartBlock {
    overflow: hidden;
    /*border: 1px solid #eee;*/
    background: url(../images/spinner.gif) no-repeat 50% 50%;
    margin: 2%;
}

@media (min-width: 600px) {
    .chartBlock.half {
        float: left;
        width: 45%;
    }
}


.chartBlock .dukt-chart {
    /*padding: 30px;*/
    height: 300px;
}

.chartBlockS .dukt-chart {
    height: 250px;
}

.chartBlockM .dukt-chart {
    height: 300px;
}
.chartBlockL .dukt-chart {
    height: 400px;
}

.chartBlock .dukt-chart.table {
    height: auto;
}


/**************************************************/



.dukt-chart .data {
    display: none;
}

.dukt-update {
    display: none;
    opacity: 0;
    margin: 0 -30px;
    margin-top: -30px;
    padding: 30px;
    border-bottom: 1px solid #eee;
}