.center {
    text-align: center;
}

.dukt-chart {



    float: left;
    width: 96%;
    overflow: hidden;
    border: 1px solid #eee;
    background: url(../images/spinner.gif) no-repeat 50% 50%;
    margin: 2%;
    height: 400px;
}


.dukt-chart.half {
    width: 45%;
    height: 400px;
}

.dukt-chart .data {
    display: none;
}

.dukt-update {
    display: none;
    opacity: 0;
    margin: 0 -30px;
    margin-top: -30px;
    padding: 30px;
    border-bottom: 1px solid #eee;
}