/*

Table of contents:

- Basics
- Widgets
- Charts
- Tabs

*/
/************************
 * Basics
 ************************/
.center {
  text-align: center;
}
a.more,
a.less {
  position: relative;
  display: block;
  margin: 0 -30px;
  margin-top: -20px !important;
  margin-bottom: -11px !important;
  text-align: center;
  padding: 0.5em;
}
a.more {
  margin-bottom: -20px;
}
a.less {
  margin-bottom: 10px !important;
}
div.more .analytics-chart.table {
  margin-top: 30px;
  margin-bottom: 20px;
}
.analytics-loading {
  background: url(../images/spinner.gif) no-repeat 50% 50%;
  min-height: 40px;
}
/************************
 * Widgets
 *************************/
.analytics-report-count {
  margin-top: -12px;
}
.analytics-report-count .blocks {
  margin-bottom: -24px;
}
.analytics-report-count .blocks .block {
  width: 33%;
  float: left;
  margin-bottom: 24px;
}
.analytics-report-count .blocks .block .in {
  text-align: center;
  line-height: 2em;
}
.analytics-report-count .blocks .block .in strong {
  display: block;
  text-transform: uppercase;
  opacity: .5;
  font-size: 0.8em;
}
.analytics-report-count .blocks .block .in span {
  font-weight: bold;
  font-size: 1.5em;
}
.analytics-colspan-1 .analytics-report-count .block {
  width: 50%;
}
.analytics-colspan-2 .analytics-report-count .block {
  width: 33%;
}
@media screen and (max-width: 653px) {
  .analytics-colspan-2 .analytics-report-count .block {
    width: 50%;
  }
}
@media screen and (min-width: 970px) {
  .analytics-colspan-3 .analytics-report-count .block,
  .analytics-colspan-4 .analytics-report-count .block {
    width: 16.66%;
  }
}
@media screen and (max-width: 653px) {
  .analytics-colspan-3 .analytics-report-count .block,
  .analytics-colspan-4 .analytics-report-count .block {
    width: 50%;
  }
}
/************************
 * Charts
 *************************/
.analytics-chart {
  margin-bottom: 20px;
  min-height: 100px;
}
.analytics-chart.dk-loaded {
  background: none;
}
.analytics-chart.error {
  min-height: 0 !important;
}
.analytics-chart.column {
  min-height: 150px;
}
.analytics-chart.doubleHeight {
  min-height: 290px;
}
.analytics-chart.donut {
  min-height: 250px;
}
.analytics-chart.AreaChart {
  margin-bottom: 0px;
}
.analytics-chart.AreaChart .inject {
  height: 150px;
}
.analytics-chart.GeoChart .inject {
  height: 200px;
}
.analytics-chart.Table {
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  min-height: 30px;
}
.analytics-chart.Table > div {
  position: inherit;
}
.analytics-chart.Table .google-visualization-table-th {
  background: none;
  border: 0;
  border-top: 1px dotted #e3e5e8;
  border-bottom: 1px dotted #e3e5e8;
  color: rgba(0, 0, 0, 0.298039);
  font-size: 0.8em;
  white-space: nowrap;
}
.analytics-chart.Table .google-visualization-table-th:first-child {
  text-align: left;
}
.analytics-chart.Table .google-visualization-table-th:last-child {
  text-align: right;
}
.analytics-chart.Table .google-visualization-table-th span {
  display: none;
}
.analytics-chart.Table td.google-visualization-table-td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px dotted #e3e5e8;
}
.analytics-chart.Table td.google-visualization-table-td:hover {
  background: #fff;
}
.analytics-chart.Table td.google-visualization-table-td.google-visualization-table-td-number {
  text-align: right;
}
.analytics-chart.Table td {
  width: 100px;
}
.analytics-chart.Table td strong {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  display: block;
  overflow: hidden;
  font-weight: normal;
}
.analytics-chart.Table .google-visualization-table-tr-sel td,
.analytics-chart.Table .google-visualization-table-tr-over td {
  background-color: #fff;
}
.analytics-chart.Table .google-visualization-table-tr-sel.google-visualization-table-tr-odd td,
.analytics-chart.Table .google-visualization-table-tr-over.google-visualization-table-tr-odd td {
  background-color: #fff;
}
.analytics-chart.Table .google-visualization-table-div-page {
  margin-top: 10px;
  text-align: center;
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
}
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button-inner-box {
  padding: 2px 10px;
}
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button {
  background: #fff;
  margin: 0 3px;
}
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box {
  border-color: #ccc;
}
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #ccc;
}
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button:hover,
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button-hover {
  background: #fff;
}
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box,
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box {
  border-color: #bbb !important;
}
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button:hover .charts-custom-button-outer-box .charts-custom-button-inner-box,
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button-hover .charts-custom-button-outer-box .charts-custom-button-inner-box {
  border-color: #bbb !important;
}
.analytics-chart.Table .google-visualization-table-div-page .charts-custom-button-disabled {
  opacity: .1;
}
.analytics-chart.Table .google-visualization-table-div-page .page-number {
  padding: 10px;
}
.analytics-chart.Table .google-visualization-table-page-numbers {
  display: none;
}
.analytics-chart .data {
  display: none;
}
.analytics-colspan-2 .GeoChart .inject {
  height: 400px;
}
/************
 * Tabs
 *************/
.analytics-tabs .analytics-nav {
  margin: 0 -30px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 30px;
  background: #fcfcfc;
  text-align: center;
}
.analytics-tabs .analytics-nav li {
  display: inline-block;
  margin-right: 0.8em;
}
.analytics-tabs .analytics-nav li a {
  padding: 5px 0px;
  padding-top: 8px;
  display: block;
  color: #888;
}
.analytics-tabs .analytics-nav li a:hover {
  text-decoration: none;
}
.analytics-tabs .analytics-nav li a.active {
  color: #333;
  border-bottom: 2px solid #0d78f2;
}
/************************
 * Craft compatibility
 **************************/
.craft-1-4 .analytics-tabs .analytics-nav {
  margin: 0 -24px;
  margin-bottom: 24px;
  padding: 0 24px;
}
