{% import "_includes/forms" as forms %}

{# {{ forms.selectField({
    label: "Source"|t,
    name: 'source',
    options: {
        googleanalytics: "Google Analytics"|t,
        craft: "Craft"|t,
    },
    toggle: true,
    targetPrefix: 'source'
}) }} #}

<div id="sourcegoogleanalytics">

    {{ forms.selectField({
        label: "Chart"|t,
        name: 'chart',
        options: {
            area: "Area"|t,
            count: "Count"|t,
            pie: "Pie"|t,
            table: "Table"|t,
            geo: "Geo"|t,
        },
        toggle: true,
        targetPrefix: 'chart'
    }) }}


    <div id="chartarea">

        {{ forms.selectField({
            label: "Metric"|t,
            name: 'metric',
            options: metricsOptions
        }) }}

    </div>

    <div id="chartcount" class="hidden">

        {{ forms.selectField({
            label: "Metric"|t,
            name: 'metric',
            options: metricsOptions
        }) }}

    </div>

    <div id="chartpie" class="hidden">

        {{ forms.selectField({
            label: "Dimension"|t,
            name: 'dimension',
            options: dimensionsOptions
        }) }}

        {{ forms.selectField({
            label: "Metric"|t,
            name: 'metric',
            options: metricsOptions
        }) }}

    </div>

    <div id="charttable" class="hidden">

        {{ forms.selectField({
            label: "Dimension"|t,
            name: 'dimension',
            options: dimensionsOptions
        }) }}

        {{ forms.selectField({
            label: "Metric"|t,
            name: 'metric',
            options: metricsOptions
        }) }}

    </div>

    <div id="chartgeo" class="hidden">

        {{ forms.selectField({
            label: "Dimension"|t,
            name: 'dimension',
            options: dimensionsOptions
        }) }}

        {{ forms.selectField({
            label: "Metric"|t,
            name: 'metric',
            options: metricsOptions
        }) }}

    </div>

</div>

{#
<div id="sourcecraft" class="hidden">
       {{ forms.selectField({
        label: "Element"|t,
        options: ["Entries", "Users"]
    }) }}
</div>
 #}


{{ forms.selectField({
    label: "Period"|t,
    name: 'period',
    options: {
        week: "Week"|t,
        month: "Month"|t,
        year: "Year"|t,
    }
}) }}
