{% import "_includes/forms" as forms %}

{% includeJsResource 'analytics/js/settings.js' %}

{{ forms.selectField({
    label: "Realtime"|t,
    class: 'realtime-select',
    name: 'realtime',
    options: ["No"|t, "Yes"|t],
    value: settings.realtime,
    toggle: true,
    targetPrefix: 'realtime-'
}) }}

<div id="realtime-0">

    {{ forms.selectField({
        label: "Chart"|t,
        class: 'chart-select',
        name: 'chart',
        options: {
            area: "Area"|t,
            counter: "Counter"|t,
            pie: "Pie"|t,
            table: "Table"|t,
            geo: "Geo"|t,
        },
        value: settings.chart,
        toggle: true,
        targetPrefix: 'chart'
    }) }}

    {{ forms.selectField({
        label: "Period"|t,
        name: 'period',
        class: 'period',
        options: {
            week: "Week"|t,
            month: "Month"|t,
            year: "Year"|t,
        },
        value: settings.period
    }) }}

    {{ inject|raw }}
</div>

<div id="realtime-1" class="hidden">

    {{ forms.selectField({
        label: "Chart"|t,
        class: 'chart-select',
        name: 'chart',
        options: {
            area: "Area"|t,
            counter: "Counter"|t,
            table: "Table"|t,
            geo: "Geo"|t,
        },
        value: settings.chart,
        toggle: true,
        targetPrefix: 'chart'
    }) }}

</div>



{% set colspanOptions = { 1:1, 2:2, 3:3, 4:4 } %}

{{ forms.selectField({
    label: "Columns"|t,
    options: colspanOptions,
    name: 'colspan',
    value: (settings.colspan is not null ? settings.colspan : 2)
}) }}
