{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: "Chart"|t,
    name: 'chart',
    options: {
        area: "Area"|t,
        counter: "Counter"|t,
        pie: "Pie"|t,
        table: "Table"|t,
        geo: "Geo"|t,
    },
    toggle: true,
    targetPrefix: 'chart'
}) }}


{{ forms.selectField({
    label: "Period"|t,
    name: 'period',
    options: {
        week: "Week"|t,
        month: "Month"|t,
        year: "Year"|t,
    }
}) }}

<div id="chartarea">

    {{ forms.selectField({
        label: "Source"|t,
        name: 'source',
        options: {
            googleanalytics: "Google Analytics"|t,
            craft: "Craft"|t,
        },
        toggle: true,
        targetPrefix: 'source'
    }) }}


    <div id="sourcegoogleanalytics">
        {{ forms.selectField({
            label: "Metric"|t,
            name: 'metric',
            options: metricsOptions
        }) }}
    </div>


    <div id="sourcecraft" class="hidden">
           {{ forms.selectField({
            label: "Element"|t,
            name: "element",
            options: {
                entries: "Entries"|t,
                users: "Users"|t
            },
            toggle: true,
            targetPrefix: 'element'
        }) }}

        <div id="elemententries">
            {% set sectionOptions = [] %}
            {% for section in craft.sections.getAllSections() %}
                {% set sectionOptions = sectionOptions|merge([{ label: section.name|t, value: section.id }]) %}
            {% endfor %}

           {{ forms.selectField({
                label: "Section"|t,
                name: "section",
                options: sectionOptions,
            }) }}
        </div>

        <div id="elementusers" class="hidden">
            {% set groupOptions = [] %}
            {% for group in craft.userGroups.getAllGroups() %}
                {% set groupOptions = groupOptions|merge([{ label: group.name|t, value: group.id }]) %}
            {% endfor %}

           {{ forms.selectField({
                label: "User Group"|t,
                name: "group",
                options: groupOptions,
            }) }}
        </div>
    </div>

</div>

<div id="chartcounter" class="hidden">

    {{ forms.selectField({
        label: "Metric"|t,
        name: 'metric',
        options: metricsOptions
    }) }}

</div>

<div id="chartpie" class="hidden">

    {{ forms.selectField({
        label: "Source"|t,
        name: 'source',
        options: {
            googleanalytics: "Google Analytics"|t,
            craft: "Craft"|t,
            twitter: "Twitter"|t,
        },
        toggle: true,
        targetPrefix: 'source2'
    }) }}

    <div id="source2googleanalytics">
        {{ forms.selectField({
            label: "Dimension"|t,
            name: 'dimension',
            options: dimensionsOptions
        }) }}

        {{ forms.selectField({
            label: "Metric"|t,
            name: 'metric',
            options: metricsOptions
        }) }}
    </div>

    <div id="source2craft" class="hidden">
        {{ forms.selectField({
            label: "Dimension"|t,
            name: 'dimension',
            options: {
                sections: "Sections",
                elementTypes: "Element Types"
            }
        }) }}
    </div>

    <div id="source2twitter" class="hidden">
        {{ forms.selectField({
            label: "Dimension"|t,
            name: 'dimension',
            options: {
                userType: "User Type"
            }
        }) }}
    </div>

</div>

<div id="charttable" class="hidden">

    {{ forms.selectField({
        label: "Source"|t,
        name: 'source',
        options: {
            googleanalytics: "Google Analytics"|t,
            craft: "Craft"|t,
            twitter: "Twitter"|t,
        },
        toggle: true,
        targetPrefix: 'source3'
    }) }}

    <div id="source3googleanalytics">
        {{ forms.selectField({
            label: "Dimension"|t,
            name: 'dimension',
            options: dimensionsOptions
        }) }}

        {{ forms.selectField({
            label: "Metric"|t,
            name: 'metric',
            options: metricsOptions
        }) }}
    </div>

    <div id="source3craft" class="hidden">
        {{ forms.selectField({
            label: "Dimension"|t,
            name: 'dimension',
            options: {
                sections: "Sections",
                elementTypes: "Element Types"
            }
        }) }}
    </div>

    <div id="source3twitter" class="hidden">
        {{ forms.selectField({
            label: "Dimension"|t,
            name: 'dimension',
            options: {
                userType: "User Type"
            }
        }) }}
    </div>

</div>

<div id="chartgeo" class="hidden">

    {{ forms.selectField({
        label: "Dimension"|t,
        name: 'dimension',
        options: dimensionsOptions
    }) }}

    {{ forms.selectField({
        label: "Metric"|t,
        name: 'metric',
        options: metricsOptions
    }) }}

</div>

